<template name="CalculatorBrier">
    <div id="welcome-instruction" class="instruction">
        {{> TutorialHeader step='3'}}
        <br>
        <div>
            <h5 style="float: right;"> 
                <!--table style="border:3px outset; border-spacing: 0px"><tr><td-->
                    &nbsp;Suggested reading time: 1.5 mins&nbsp;
                <!--/td></tr></table-->
            </h5>
            <h4 style="float: left;"> <strong> Calculator </strong> </h4>
        </div>
        <div style="clear: both;"></div>
        <h5> We are providing a simple reward calculator below. With this calculator, you can specify your prediction on an event and check your corresponding bonus payment on the event. You can play with this calculator to further understand the reward mechanism. 
        </h5>
        <br> {{> CalculatorGadgetBrier}}
        <br> {{> BidirectNavigation prevPage="MechanismBrier" nextPage="EndTutorialBrier"}}
    </div>
</template>