<template name="SurveyInstruction">
  <div id="survey-instruction" class="instruction">
    <h1 style="font-size: 30px; margin: 10px 0px 10px;">Survey Instruction</h1>
    <hr style="border-width: 2px; margin: 1px 0px 10px;" />
    <!--h4> <strong>Introduction</strong></h4-->
    <br />
    <h5 style="font-size: 16px;">
      This task has two phases.
    </h5>
    <br />
    <p style="font-size: 16px;">
      In the first phase, we will present you summary materials of 6 social
      science articles, each article at a time. For each article, you are going
      to rate your feeling about understandability of the article and the
      plausibility of the results claimed in the materials. You will do some
      simple summary work for us to verify your understandability of the
      article.
    </p>
    <p style="font-size: 16px;">
      In the second phrase, we will present you the same materials, but a pair
      of articles at a time. For each of three pairs in total, you are also
      going to answer some simple questions. This time, you will be able to make
      comparison between the two articles before answering your questions.
    </p>
  </div>
  <br />
  <div id="buttonArea" style="text-align: center;">
    <a
      href="ConsentBrier"
      class="btn"
      id="nextBtn"
      style="font-weight: bold; font-size: 18px;"
    >
      Confirm and Proceed!</a
    >
  </div>
</template>
