<template name="BidirectNavigation">
    <br />
    <div style="text-align: center;">
        {{#if this.prevRemoved}}
        {{else}}
        {{#if this.prevText}}
        <button href="#" role="button" class="btn btn-lg btn-outline-primary" id="prevBtn">
            &#x3C; {{prevText}}
        </button>
        {{else}}
        <button href="#" role="button" class="btn btn-lg btn-outline-primary" id="prevBtn">
            &#x3C; Back
        </button>
        {{/if}}
        {{/if}}
        &nbsp;
        {{#if this.nextText}}
        <!--input type="submit" value="{{nextText}} &#62;" class="btn btn-lg btn-outline-primary" id="nextBtn" /-->
        <button href="#" role="button" class="btn btn-lg btn-outline-primary" id="nextBtn">
            {{nextText}} &#62;
        </button>
        {{else}}
        <button href="#" role="button" class="btn btn-lg btn-outline-primary" id="nextBtn">
            Next &#62;
        </button>
        {{/if}}
    </div>
    <div id="BidirectNavigation-popup" name="BidirectNavigation-popup" class="overlay">
        <div class="popup alert alert-info">
            <a class="close" href="#">&times;</a>
            <div>
                Please finish and confirm all sentence selection questions!
            </div>
        </div>
    </div>
    <!--div class="alert alert-danger" role="alert" id="BidirectNavigation-alert" style="display: none;">
        Please click "Confirm selection" button on all sentence selection questions!
    </div-->
</template>