<template name="BidirectNavigation">
  <br />
  <div style="text-align: center;">
    {{#if this.prevRemoved}} {{else}} {{#if this.prevText}}
    <button href="" class="btn btn-lg btn-outline-primary" id="prevBtn">
      &#x3C; {{prevText}}
    </button>

    {{else}}
    <button href="" class="btn btn-lg btn-outline-primary" id="prevBtn">
      &#x3C; Back
    </button>
    {{/if}} {{/if}} &nbsp; {{#if this.nextText}}
    <button href="" class="btn btn-lg btn-outline-primary" id="nextBtn">
      {{nextText}} &#62;
    </button>
    {{else}}
    <button href="" class="btn btn-lg btn-outline-primary" id="nextBtn">
      Next &#62;
    </button>
    {{/if}}
  </div>
</template>
