<template name="BidirectNavigation">
    <div id="buttonArea" style="text-align: center;">
        {{#if this.prevRemoved}}
        {{else}}
    	   {{#if this.prevText}}
        	   <button href="" class="btn" id="prevBtn">{{prevText}}</button>
            {{else}}
        	   <button href="" class="btn" id="prevBtn">&lt;&lt; Prev</button>
            {{/if}}
        {{/if}}
        &nbsp;
        {{#if this.nextText}}
        	<button href="" class="btn" id="nextBtn">{{nextText}}</button>
        {{else}}
        	<button href="" class="btn" id="nextBtn">Next &gt;&gt;</button>
        {{/if}}
    </div>
</template>