<template name="ErrorByRefresh">
    <p>
        <b>Oops! We detected that your data was lost.</b> It may be caused by the following reasons: 
        <ul>
        	<li>You clicked the "Refresh" button of your broswer.</li>
            <li>Your Internet connection was lost temporarily. </li>
        </ul>
        <b>Please return this HIT. If you have any problems about this assignment, feel free to contact <a href="mailto:juntaowang@g.harvard.edu">juntaowang@g.harvard.edu</a></b> 
        <br />
        <br />
        We apologize for any inconvenience for you, and thank you very much for your participation and help! You are welcome to join in any of our available HITs.
    </p>
</template>