<template name="Pair1Page2">
    {{>ProgressBar}}
    {{>Title title="Paper Comparision"}}
    <h5>
        Instruction: Please compare the materials of the two papers that you have just read, and
        answer the questions below.
    </h5>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm border border-dark pt-3">
                <h5 class="text-center">Paper 1</h5>
            </div>
            <div class="col-sm border border-dark border-left-0 pt-3">
                <h5 class="text-center">Paper 2</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm border border-dark border-top-0 pt-3">
                <p id="studyTitle1">
                    Loading Title...
                </p>
            </div>
            <div class="col-sm border border-dark border-top-0 border-left-0 pt-3">
                <p id="studyTitle2">
                    Loading Title...
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm border border-dark border-top-0 pt-3" style="padding-bottom: 0.5em;">
                <div style="height: 400px; overflow: auto;">
                    <p id="abstractText1" class="text-justify">
                        Loading...
                    </p>
                </div>
            </div>
            <div class="col-sm border border-dark border-left-0 border-top-0 pt-3" style="padding-bottom: 0.5em;">
                <div style="height: 400px; overflow: auto;">
                    <p id="abstractText2" class="text-justify">
                        Loading...
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm border border-dark border-top-0 pt-3" style="padding-bottom: 0.5em;">
                <div style="display: inline-block;">
                    <b>Experiment: </b>
                </div>
                <div style="display: inline-block;">
                    <!--ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#methodText1" role="tab" aria-controls="methodText1" aria-selected="false">Paper 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#methodText2" role="tab" aria-controls="methodText2" aria-selected="false">Paper 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Close</a>
                        </li>
                    </ul-->
                    <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="tab" href="#methodText1" role="tab" aria-controls="methodText1" aria-selected="false"><b>Paper 1</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="tab" href="#methodText2" role="tab" aria-controls="methodText2" aria-selected="false"><b>Paper 2</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="tab" href="#pills-home" role="tab" aria-controls="tab-home" aria-selected="true">Close</a>
                        </li>
                    </ul>
                </div>
                <div style="max-height: 600px; overflow: auto;">
                    <br />
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" name="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">Please click a paper tab to show the material of the corresponding experiment.</div>
                        <div class="tab-pane fade" id="methodText1" name="methodText1" role="tabpanel" aria-labelledby="methodText1-tab">Loading...</div>
                        <div class="tab-pane fade" id="methodText2" name="methodText2" role="tabpanel" aria-labelledby="methodText2-tab">Loading...</div>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="row">
            <div class="col-sm border border-dark border-top-0 pt-3">
                <p><b>Experiment:</b></p>
            </div>
            <div class="col-sm border border-dark border-top-0 border-left-0 pt-3">
                <p><b>Experiment:</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm border border-dark border-top-0 pt-3" style="height: 600px; overflow: auto;">
                <div id="test-text">
                    <p id="methodText1" class="methodText">
                        Loading...
                    </p>
                </div>
            </div>
            <div class="col-sm border border-dark border-left-0 border-top-0 pt-3" style="height: 600px; overflow: auto;">
                <div id="test-text">
                    <p id="methodText2" class="methodText">
                        Loading...
                    </p>
                </div>
            </div>
        </div-->
    </div>
    <br />
    <br />
    <form action="javascript:void(0);">
        <div class="w-100 px-3 pt-3 border border-dark">
            <label>
                <b>
                    1. Which of the two papers, do you think, has a better chance to
                    replicate (observe the same findings if an identical study is
                    re-performed)?
                </b>
            </label>
            <div class="container">
                <div class="form-row m-1">
                    <div class="form-check col">
                        <input class="form-check-input" type="radio" name="pairwiseReplicateComparison" id="Paper1BetterChance" value="1" required />
                        <label class="form-check-label" for="chanceStudy1">
                            Paper 1
                        </label>
                    </div>
                    <div class="form-check col">
                        <input class="form-check-input" type="radio" name="pairwiseReplicateComparison" id="Paper2BetterChance" value="2" />
                        <label class="form-check-label" for="chanceStudy2">
                            Paper 2
                        </label>
                    </div>
                </div>
            </div>
            <br />
            <label>
                <b>
                    2. In which of the two papers, do you think, will the OTHER
                    participants of this experiment (the experiment you are now
                    participating) have better judgments in estimating the chance of the
                    replication?
                </b>
            </label>
            <div class="container">
                <div class="form-row m-1">
                    <div class="form-check col">
                        <input class="form-check-input" type="radio" name="pairwiseJudgementCapacity" id="paper1BetterJudgement" value="1" required />
                        <label class="form-check-label" for="judgeStudy1">
                            Paper 1
                        </label>
                    </div>
                    <div class="form-check col">
                        <input class="form-check-input" type="radio" name="pairwiseJudgementCapacity" id="paper2BetterJudgement" value="2" />
                        <label class="form-check-label" for="judgeStudy2">
                            Paper 2
                        </label>
                    </div>
                </div>
            </div>
            <br />
            <label class="pr-3 pt-2">
                <b>
                    3. Please choose one paper to do the following task:
                </b>
            </label>
            <div class="form-check form-check-inline">
                <input onchange="studyUpdate(1);" class="form-check-input" type="radio" name="pairwiseReasoningPaperChoice" id="choosePaper2ReasoningTask" value="1" required />
                <label class="form-check-label" for="taskStudy1">
                    Paper 1
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input onchange="studyUpdate(2);" class="form-check-input" type="radio" name="pairwiseReasoningPaperChoice" id="choosePaper2ReasoningTask" value="2" />
                <label class="form-check-label" for="taskStudy2">
                    Paper 2
                </label>
            </div>
            <br />
            <span class="d-inline" id="chosenStudyText" style="visibility: hidden;">You chose the paper: "<b class="d-inline" id="chosenStudy"></b>"
            </span>
            <p> Use a few sentences to describe, according to your understanding, how the given experiment of the paper you chose is set up in a way to test or discover the findings/claims of the paper?
            </p>
            <script>
            function studyUpdate(paperNo) {
                document.getElementById("chosenStudy").innerHTML =
                    document.getElementById("studyTitle" + paperNo).innerHTML.replace("Title:", "");
                //document.getElementById("chosenStudyBefore").style = "visibility: visible;";
                document.getElementById("chosenStudyText").style = "visibility: visible;";
            }
            </script>
            <!--label for="mainClaimsUserInput">
                <b>
                    4. Please use a few sentences to describe according to your understanding
                    how the given experiment justifies their findings/claims?
                </b>
            </label-->
            <textarea class="form-control" id="mainClaimsUserInput" rows="3" placeholder="Type Here." required></textarea>
            <br />
        </div>
        {{> BidirectNavigation nextText="Confirm and Proceed" nextPage ="ExitSurvey"
        prevRemoved=true prevPage="Pair1Page1"}}
    </form>
</template>