<template name="Pair1Page2">
  {{>Title title="Paper Pair 1"}} {{>ProgressBar length="100"}}
  <h5 class="text-center">
    Please read the following material and answer questions.
  </h5>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm border border-dark pt-3">
        <p class="text-center">Study 1</p>
      </div>
      <div class="col-sm border border-dark border-left-0 pt-3">
        <p class="text-center">Study 2</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm border border-dark border-top-0 pt-3">
        <p>
          <b>
            Title: A Single-System Account of the Relationship Between Priming,
            Recognition, and
          </b>
        </p>
      </div>
      <div class="col-sm border border-dark border-top-0 border-left-0 pt-3">
        <p>
          <b>
            Title: Accelerated Relearning After Retrieval-Induced Forgetting The
            Benefit of Being
          </b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm border border-dark border-top-0 pt-3">
        <p>
          <b>Abstract: </b>A single-system computational model of priming and
          recognition was applied to studies that have looked at the
          relationship between priming, recognition, and fluency in continuous
          identification paradigms. The model was applied to 3 findings that
          have been interpreted as evidence for a multiple-systems account: (a)
          priming can occur for items not recognized; (b) the pattern of
          identification reaction times (RTs) to hits, misses, correct
          rejections, and false alarms can change as a function of recognition
          performance; and (c) fluency effects (shorter RTs to words judged old
          vs. judged new) and priming effects (shorter RTs to old vs. new words)
          can be observed in amnesic patients at levels comparable with healthy
          adults despite impaired or near-chance recognition. The authors'
          simulations suggest, contrary to previous interpretations, that these
          results are consistent with a single-system account.
        </p>
      </div>
      <div class="col-sm border border-dark border-left-0 border-top-0 pt-3">
        <p>
          <b>Abstract: </b> Research on retrieval-induced forgetting has
          demonstrated that retrieving some information from memory can cause
          the forgetting of other information in memory. Here, the authors
          report research on the relearning of items that have been subjected to
          retrieval-induced forgetting. Participants studied a list of category-
          exemplar pairs, underwent a series of retrieval-practice and
          relearning trials, and, finally, were tested on the initially studied
          pairs. The final recall of non-relearned items exhibited a cumulative
          effect of retrieval-induced forgetting such that the size of the
          effect increased with each block of retrieval practice. Of most
          interest, and very surprising from a common-sense standpoint, items
          that were relearned benefited more from that relearning if they had
          previously been forgotten. The results offer insights into the nature
          and durability of retrieval-induced forgetting and provide additional
          evidence that forgetting is an enabler--rather than a disabler--of
          future learning.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm border border-dark border-top-0 pt-3" style="height: 300px; overflow: auto;">
        <span class="medium-bold">
          <h3>
            <a data-auto="ep_link" href="#toc" onclick="FocusElement('toc');" id="hd_toc_xlm-34-1-97-ID0EECAA" title="Experiment 1">Experiment 1</a>
          </h3>
        </span><br />
        <p class="body-paragraph" data-auto="body_paragraph">
          The aim of Experiment 1 was to replicate
          <a href="#c47">Stark and McClelland's (2000)</a> finding of
          <strong data-auto="strong_text">priming</strong> for items judged new
          and then apply the model to the data. An
          <strong data-auto="strong_text">experimental</strong> replication was
          conducted rather than simply fitting the model to Stark and
          McClelland's data because robust demonstrations of
          <strong data-auto="strong_text">priming</strong> in the absence of
          awareness remain elusive, and independent replications of such effects
          are therefore important.<a id="b-fn1"> </a> We presented words at
          study using the CID procedure; participants pressed a button when they
          could identify the word and then named the word aloud. At test, we
          presented old and new words to participants using the CID-R procedure.
        </p>
        <a id="xlm-34-1-97-ID0EBECAA"> </a>
        <h4>Method</h4>
        <p class="body-paragraph" data-auto="body_paragraph">
          <strong>Participants</strong>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          Twenty-four individuals were recruited through a University College
          London participant database. Their ages ranged from 19 to 38 years,
          with a mean of 23.3 years. All participants reported normal or
          corrected-to-normal vision, reported English as their first language,
          were tested individually in sound-dampened cubicles, and were paid £4
          (approximately $7) in return for taking part. The experiment was fully
          automated, and the experimenter was not present in the room during the
          course of the experiment.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <strong>Materials</strong>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          A total of 120 words were selected with similar constraints to
          <a href="#c47">Stark and McClelland (2000)</a>: All words had four
          letters, had a frequency of occurrence of 10–200 per million (<a href="#c23">Kucera &amp; Francis, 1967</a>), and had a maximum score of 500 on the Imagability and Concreteness
          scales in the Medical Research Council Psycholinguistic database (<a href="#c5">Coltheart, 1981</a>). All words were presented in white 20-pt Courier font. Two 50-word
          lists were constructed. Each word list acted as the old or new
          stimuli, counterbalanced across participants.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <strong>Procedure</strong>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          At study, a <strong data-auto="strong_text">single</strong> word was
          presented on each CID trial. At the start of each trial, a mask (a row
          of hash marks ####) was presented for 500 ms to orient the
          participant. Next, a word was presented in lowercase 20-pt Courier
          font for 17 ms. The mask was then presented in 26-pt Courier font for
          233 ms, forming a 250-ms presentation block. The word was then
          immediately presented again, but this time the exposure duration was
          increased by 17 ms, and the mask followed for the remainder of the
          250-ms presentation block. Presentation continued in this way, with
          the total stimulus plus mask time remaining constant in each block,
          until the mask duration was 0 ms (15 blocks). When a response was made
          (by clicking the left mouse button), the mask was immediately
          presented for 2,000 ms. Participants then clicked a button that was
          presented below the stimulus presentation area to advance to the next
          trial.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          There were 70 study trials in total. The first and last 10 trials were
          considered primacy and recency filler trials, and none of the words
          from these trials appeared at test. The RTs from these filler trials
          were not included in any subsequent analysis. The remaining 50 trials
          contained the stimuli that would later appear at test. For the study
          phase, participants were told that a word would flash on the screen
          for longer and longer durations and that this would make it appear
          clearer over time. They were told that they must click the left mouse
          button when they knew the identity of the word and then read it aloud.
          On each trial, the time from the onset of the stimuli to the onset of
          the button press was recorded. The importance of speed was emphasized;
          however, errors were discouraged: Participants were told that they
          should click the mouse button only when they were confident that they
          could identify the word correctly. If the word had not been identified
          by the end of the trial, then a message appeared to the participants
          asking them to try to be faster on the next trial. RTs longer than
          3,750 ms (the time that had elapsed by the end of the last stimulus
          presentation block) were not recorded. No indication of the upcoming
          recognition test was given.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          After the study phase, the instructions for the test phase were
          presented. We presented a
          <strong data-auto="strong_text">single</strong> word using the CID
          procedure on each test trial. Participants were again instructed to
          press the mouse button when they could identify the word and then read
          the word aloud; they were additionally told that after identifying
          each word they would have to make a judgment about the word. After
          each identification, the probe “old or new?” appeared on the screen,
          and two buttons labeled “old” and “new” were also presented on the
          screen below this probe. Participants were instructed to click the
          button labeled “old” if they thought that the word they had just
          identified was one from the study phase. They were told to click the
          “new” button if they thought that the word had not been presented in
          the study phase. There were 100 test trials in total (50 old and 50
          new trials). The selection of a word for each trial was randomly
          determined. Misidentification trials at study or test were excluded
          from all subsequent analysis. Responses were recorded on a tape
          recorder and later checked for accuracy.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          An alpha level of .05 was used for statistical tests, and
          <em>t</em> tests were two-tailed. We used the Greenhouse–Geisser
          correction to correct for nonsphericity on tests involving repeated
          measures factors with more than two levels.
        </p>
        <a id="xlm-34-1-97-ID0EAECAA"> </a>
      </div>
      <div class="col-sm border border-dark border-left-0 border-top-0 pt-3" style="height: 300px; overflow: auto;">
        <span class="medium-bold">
          <h3>
            <a data-auto="ep_link" href="#toc" onclick="FocusElement('toc');" id="hd_toc_xlm-34-1-230-ID0ECCAA" title="Method">Method</a>
          </h3>
        </span><br />
        <p class="body-paragraph" data-auto="body_paragraph">
          We tested our hypothesis by having participants undergo a series of
          <strong data-auto="strong_text">retrieval</strong>-practice and
          <strong data-auto="strong_text">relearning</strong> cycles that were
          designed to induce and eliminate the effects of
          <strong data-auto="strong_text">retrieval</strong>-<strong data-auto="strong_text">induced</strong>
          <strong data-auto="strong_text">forgetting</strong> repeatedly.
        </p>
        <a id="xlm-34-1-230-ID0ECCCAA"> </a>
        <h4>Participants</h4>
        <p class="body-paragraph" data-auto="body_paragraph">
          A total of 240 undergraduate students from the University of
          California, Los Angeles (73 men and 167 women) averaging 20.7 years of
          age participated in the experiment.
        </p>
        <a id="xlm-34-1-230-ID0EBCCAA"> </a>
        <h4>Materials</h4>
        <p class="body-paragraph" data-auto="body_paragraph">
          Eight categories, each containing six exemplars of high taxonomic
          strength, no two of which began with the same first letter, were used
          in the present study. The eight
          <strong data-auto="strong_text">experimental</strong> categories were
          first divided into two separate sets of four so that—for any
          individual participant—half of the categories received
          <strong data-auto="strong_text">retrieval</strong> practice, and the
          other half did not. The two subsets were further divided into two sets
          of two such that half of the categories receiving
          <strong data-auto="strong_text">retrieval</strong> practice and half
          of the categories not receiving
          <strong data-auto="strong_text">retrieval</strong> practice were
          either relearned or not relearned. Thus, for any 1 participant, there
          were two practiced categories that were relearned and two practiced
          categories that were not relearned and, also, two unpracticed
          categories that were relearned and two unpracticed categories that
          were not relearned.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          During <strong data-auto="strong_text">retrieval</strong> practice,
          participants were shown a series of category names and two-letter
          stems that began associated exemplars of relatively low taxonomic
          frequency. The targets of this
          <strong data-auto="strong_text">retrieval</strong> practice were
          always extralist items—that is, items that were not presented during
          the study phase of the experiment. Although this procedure differs
          from the typical
          <strong data-auto="strong_text">retrieval</strong>-practice
          paradigm—as <a href="#c5">Bauml (2002)</a> and
          <a href="#c26">Storm, Bjork, Bjork, and Nestojko (2006)</a> have
          demonstrated—<strong data-auto="strong_text">retrieval</strong>-<strong data-auto="strong_text">induced</strong>
          <strong data-auto="strong_text">forgetting</strong> is also obtained
          when participants generate extralist exemplars during
          <strong data-auto="strong_text">retrieval</strong> practice. Thus, for
          a given subject, all six exemplars of a given category presented
          during the study phase served either as Rp– items or as Nrp items. The
          experiment was counterbalanced such that studied exemplars were
          associated with every
          <strong data-auto="strong_text">experimental</strong> condition
          equally often across participants.
        </p>
        <a id="xlm-34-1-230-ID0EACCAA"> </a>
        <h4>Procedure</h4>
        <p class="body-paragraph" data-auto="body_paragraph">
          The experiment was conducted in three main phases: study,
          <strong data-auto="strong_text">retrieval</strong> practice/<strong data-auto="strong_text">relearning</strong>, and test.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <strong>Study phase</strong>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          Forty-eight category–exemplar pairs were presented via computer at a
          rate of one pair per second. The presentation order was set randomly
          with the constraint that no two consecutive pairs were from the same
          category.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <strong><strong data-auto="strong_text">Retrieval</strong>-practice/<strong data-auto="strong_text">relearning</strong>
            phase</strong>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          The
          <strong data-auto="strong_text">retrieval</strong>-practice/<strong data-auto="strong_text">relearning</strong>
          phase immediately followed the study phase. Participants were randomly
          assigned to one of the following five conditions, which are shown in
          schematic form in <a href="#fig1">Figure 1</a>: (a) participants
          receiving one block of
          <strong data-auto="strong_text">retrieval</strong> practice; (b)
          participants receiving one block of
          <strong data-auto="strong_text">retrieval</strong> practice, followed
          by one block of <strong data-auto="strong_text">relearning</strong>;
          (c) participants receiving one block of
          <strong data-auto="strong_text">retrieval</strong> practice, followed
          by one block of <strong data-auto="strong_text">relearning</strong>,
          and then a second block of
          <strong data-auto="strong_text">retrieval</strong> practice; (d)
          participants receiving one block of
          <strong data-auto="strong_text">retrieval</strong> practice, followed
          by one block of <strong data-auto="strong_text">relearning</strong>, a
          second block of
          <strong data-auto="strong_text">retrieval</strong> practice, and then
          a second block of <strong data-auto="strong_text">relearning</strong>;
          (e) participants receiving one block of
          <strong data-auto="strong_text">retrieval</strong> practice, followed
          by one block of <strong data-auto="strong_text">relearning</strong>, a
          second block of
          <strong data-auto="strong_text">retrieval</strong> practice, a second
          block of <strong data-auto="strong_text">relearning</strong>, and then
          a third block of
          <strong data-auto="strong_text">retrieval</strong> practice. Although
          the same cues were provided during the
          <strong data-auto="strong_text">retrieval</strong>-practice blocks,
          and the same items were relearned in subsequent
          <strong data-auto="strong_text">relearning</strong> blocks, the order
          of their presentation was different in each block.<br /><br /><a id="fig1">
          </a><span class="centered"><img class="rs_skip" src="http://largecontent.ebsco-content.com/embimages/6cc9933d98dba653c56b2e8f11cffe80/5ebcaef5/pdh/xlm/xlm-34-1-230-fig1a.gif" alt="xlm-34-1-230-fig1a.gif" title="Figure 1. Schematic illustration demonstrating the five between-subjects retrieval-practice/relearning conditions. Participants in each condition were tested 5 min after finishing the final block of either retrieval practice or relearning, depending on the condition. Rp = retrieval practice." /><em>Figure 1. Schematic illustration demonstrating the five
              between-subjects
              <strong data-auto="strong_text">retrieval</strong>-practice/<strong data-auto="strong_text">relearning</strong>
              conditions. Participants in each condition were tested 5 min
              <strong data-auto="strong_text">after</strong> finishing the final
              block of either
              <strong data-auto="strong_text">retrieval</strong> practice or
              <strong data-auto="strong_text">relearning</strong>, depending on
              the condition. Rp =
              <strong data-auto="strong_text">retrieval</strong> practice.</em></span>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          A block of <strong data-auto="strong_text">retrieval</strong> practice
          consisted of 24 extralist category-plus-two-letter-stem cues (6 from
          each of the 4 practiced categories for that subject) appearing on the
          screen for 5 s each, with the participants instructed to write down
          the particular exemplar that completed the two-letter stem. None of
          the letter-stem cues began with the same letter as any item from the
          same category that had been presented in the study phase. Each block
          of <strong data-auto="strong_text">relearning</strong> consisted of
          the re-presentations of all of the category–exemplar pairs from the
          two practiced categories and the two unpracticed categories that were
          to be relearned for that subject. Each
          <strong data-auto="strong_text">relearning</strong> block contained 24
          pairs (6 from each of those 4 categories) presented in random order
          and for 1 s each.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <strong>Final testing phase</strong>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <strong data-auto="strong_text">After</strong> completing the
          <strong data-auto="strong_text">retrieval</strong>-practice/<strong data-auto="strong_text">relearning</strong>
          phase and a subsequent 5-min intervening task, participants were given
          a category-plus-one-letter-stem cued-recall test for all of the 48
          originally studied category–exemplar pairs. Each cue was presented for
          3 s, and the participants responded out loud for the experimenter to
          record.
        </p>
        <a id="xlm-34-1-230-ID0EBCAA"> </a>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <form>
      <label>
        <b>
          1. Which of the two studies, do you think, has a better chance to
          replicate (observe the same findings if an identical study is
          re-performed)?
        </b>
      </label>
      <div class="container">
        <div class="form-row m-1">
          <div class="form-check col">
            <input class="form-check-input" type="radio" name="chanceReplicate" id="chanceStudy1" value="chanceStudy1" />
            <label class="form-check-label" for="chanceStudy1">
              Study 1
            </label>
          </div>
          <div class="form-check col">
            <input class="form-check-input" type="radio" name="chanceReplicate" id="chanceStudy2" value="chanceStudy2" />
            <label class="form-check-label" for="chanceStudy2">
              Study 2
            </label>
          </div>
        </div>
      </div>
      <br />
      <label>
        <b>
          2. In which of the two studies, do you think, will the other
          participants of this experiment (the experiment you are now
          participating) have better judgments in estimating the chance of the
          replication?
        </b>
      </label>
      <div class="container">
        <div class="form-row m-1">
          <div class="form-check col">
            <input class="form-check-input" type="radio" name="betterJudgement" id="judgeStudy1" value="judgeStudy1" />
            <label class="form-check-label" for="judgeStudy1">
              Study 1
            </label>
          </div>
          <div class="form-check col">
            <input class="form-check-input" type="radio" name="betterJudgement" id="judgeStudy2" value="judgeStudy2" />
            <label class="form-check-label" for="judgeStudy2">
              Study 2
            </label>
          </div>
        </div>
      </div>
      <br />
      <div class="container p-0 m-0">
        <div class="form-row p-0 m-0">
          <label class="pr-3 pt-2">
            <b>
              3. Please choose one study to do the following task:
            </b>
          </label>
          <div class="form-check form-check-inline">
            <input onchange="studyUpdate('The Potential of Social Identity for Equilibrium Selection');" class="form-check-input" type="radio" name="taskStudy" id="taskStudy1" value="taskStudy1" />
            <label class="form-check-label" for="taskStudy1">
              Study 1
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input onchange="studyUpdate('Attractor Dynamics and Semantic Neighborhood Density: Processing Is Slowed by Near Neighbors and Speeded by Distant Neighbors');" class="form-check-input" type="radio" name="taskStudy" id="taskStudy2" value="taskStudy2" />
            <label class="form-check-label" for="taskStudy2">
              Study 2
            </label>
          </div>
        </div>
      </div>
      <div>
        <label>
          <span class="d-inline" id="chosenStudyBefore">
            Please choose a study before proceeding to step 4.</span>
          <span class="d-inline" id="chosenStudyText1" style="display: none !important;">Your choice is the study "</span><b class="d-inline" id="chosenStudy"></b><span class="d-inline" id="chosenStudyText2" style="display: none !important;">"</span>
        </label>
      </div>
      <script>
        function studyUpdate(newName) {
          document.getElementById("chosenStudy").innerHTML = newName;
          document.getElementById("chosenStudyBefore").style =
            "display: none!important;";
          document.getElementById("chosenStudyText1").style = "display: block";
          document.getElementById("chosenStudyText2").style = "display: block";
        }
      </script>
      <br />
      <label for="mainClaimsUserInput">
        <b>
          4. Please use 1~3 sentence to describe according to your understanding
          how the given experiment justify their claims/findings?
        </b>
      </label>

      <textarea class="form-control" id="mainClaimsUserInput" rows="3" placeholder="Type Here."></textarea>
      <br />
    </form>
    <br />
  </div>

  {{> BidirectNavigation nextText="Confirm and Proceed" nextPage ="ExitSurvey"
  prevRemoved=true prevPage="Pair1Page1"}}
</template>