<template name="Pair3Page2">
  {{>Title title="Paper Pair 3"}} {{>ProgressBar length="100"}}
  <h5 class="text-center">
    Please read the following material and answer questions.
  </h5>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm border border-dark pt-3">
        <p class="text-center">Study 1</p>
      </div>
      <div class="col-sm border border-dark border-left-0 pt-3">
        <p class="text-center">Study 2</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm border border-dark border-top-0 pt-3">
        <p>
          <b>
            Title: An Attention-Based Associative Account of Adjacent and
            Nonadjacent Dependency Learning
          </b>
        </p>
      </div>
      <div class="col-sm border border-dark border-top-0 border-left-0 pt-3">
        <p>
          <b>
            Title: Attractor Dynamics and Semantic Neighborhood Density:
            Processing Is Slowed by Near Neighbors and Speeded by Distant
            Neighbors
          </b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm border border-dark border-top-0 pt-3">
        <p>
          <b>Abstract: </b> In 5 experiments, results showed that when
          participants are faced with materials embedding relations between both
          adjacent and nonadjacent elements, they learn exclusively the type of
          relations they had to actively process in order to meet the task
          demands, irrespective of the spatial contiguity of the paired
          elements. These results are consonant with current theories positing
          that attention is a necessary condition for learning. More important,
          the results provide support for a more radical conception, in which
          the joint attentional processing of 2 events is also a sufficient
          condition for learning the relation between them. The well-documented
          effect of contiguity could be a by-product of the fact that attention
          generally focuses on contiguous events. This reappraisal considerably
          extends the scope of approaches based on associative or statistical
          processes.
        </p>
      </div>
      <div class="col-sm border border-dark border-left-0 border-top-0 pt-3">
        <p>
          <b>Abstract: </b> The authors investigated semantic neighborhood
          density effects on visual word processing to examine the dynamics of
          activation and competition among semantic representations. Experiment
          1 validated feature-based semantic representations as a basis for
          computing semantic neighborhood density and suggested that near and
          distant neighbors have opposite effects on word processing. Experiment
          2 confirmed these results: Word processing was slower for dense near
          neighborhoods and faster for dense distant neighborhoods. Analysis of
          a computational model showed that attractor dynamics can produce this
          pattern of neighborhood effects. The authors argue for reconsideration
          of traditional models of neighborhood effects in terms of attractor
          dynamics, which allow both inhibitory and facilitative effects to
          emerge.
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-sm border border-dark border-top-0 pt-3"
        style="height: 300px; overflow: auto;"
      >
        <span class="medium-bold"
          ><h3>
            <a
              data-auto="ep_link"
              href="#toc"
              onclick="FocusElement('toc');"
              id="hd_toc_xlm-34-1-80-ID0EECAA"
              title="Experiment 1"
              >Experiment 1</a
            >
          </h3></span
        ><br />
        <p class="body-paragraph" data-auto="body_paragraph">
          In Experiment 1, participants were presented with a set of 20
          problems. Each problem consisted of a digit on the left, which
          indicated the target for this problem, followed by a sequence of 20
          digits. Each sequence consisted of two occurrences of an
          <strong data-auto="strong_text">adjacent</strong>
          <strong data-auto="strong_text">dependency</strong> (e.g., the digit 4
          systematically followed the digit 6) and two occurrences of a
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependency</strong> (e.g., the digit 7
          systematically followed the digit 3, with a variable digit intervening
          between the digits 3 and 7). An example of a sequence is: 5 8 5 6 4 3
          9 7 1 0 8 6 4 9 3 0 7 2 2 1 (see <a href="#fig1">Figure 1</a>).
          Participants had to browse the 20-digit sequences, from left to right,
          in order to detect the targets. When participants detected a target,
          they had to calculate the difference between two digits, either the
          two digits that immediately followed the target or the two digits that
          immediately surrounded the target. All of the participants had to
          circle the target and the two digits they had to subtract from each
          other when the absolute value of their difference equaled three. It is
          worth noting that participants never had to circle the elements
          forming the <strong data-auto="strong_text">adjacent</strong> and
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependencies</strong>, as neither the
          difference between 6 and 4 nor the difference between 3 and 7 equals 3
          (or −3). After this study phase, the same recognition test was used in
          the two groups to assess the
          <strong data-auto="strong_text">learning</strong> of both
          <strong data-auto="strong_text">adjacent</strong> and
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependencies</strong>.<br /><br /><a
            id="fig1"
          >
          </a
          ><span class="centered"
            ><img
              class="rs_skip"
              src="http://largecontent.ebsco-content.com/embimages/9014c5ffc4ca9433278e80988daba98d/5ebcb1ab/pdh/xlm/xlm-34-1-80-fig1a.gif"
              alt="xlm-34-1-80-fig1a.gif"
              title="Figure 1. Examples of problems used in the three experiments. Each problem was formed with one target digit on the left, within a rectangle, and one 20-digit sequence on the right: (a) three problems used in Experiment 1, adjacent task; (b) three problems used in Experiments 1, 3, 4a, and 4b, nonadjacent task; and (c) three problems used in Experiment 2 nonadjacent task. In all of these examples, the adjacent regularity was 64, and the nonadjacent regularity was 3X7."
            /><em
              >Figure 1. Examples of problems used in the three experiments.
              Each problem was formed with one target digit on the left, within
              a rectangle, and one 20-digit sequence on the right: (a) three
              problems used in Experiment 1,
              <strong data-auto="strong_text">adjacent</strong> task; (b) three
              problems used in Experiments 1, 3, 4a, and 4b,
              <strong data-auto="strong_text">nonadjacent</strong> task; and (c)
              three problems used in Experiment 2
              <strong data-auto="strong_text">nonadjacent</strong> task. In all
              of these examples, the
              <strong data-auto="strong_text">adjacent</strong> regularity was
              64, and the
              <strong data-auto="strong_text">nonadjacent</strong> regularity
              was 3X7.</em
            ></span
          >
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          An <strong data-auto="strong_text">attention</strong>-<strong
            data-auto="strong_text"
            >based</strong
          >
          model predicts an interaction between the type of
          <strong data-auto="strong_text">dependency</strong> and the task
          demand. Indeed, <strong data-auto="strong_text">adjacent</strong>
          <strong data-auto="strong_text">dependencies</strong>, but not
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependencies</strong>, should be
          learned when participants have to process
          <strong data-auto="strong_text">adjacent</strong> items, whereas the
          reverse is expected when participants have to process
          <strong data-auto="strong_text">nonadjacent</strong> items. Note that
          this pattern of results cannot be attributed to intrinsic properties
          of the material, as the material included the very same
          <strong data-auto="strong_text">dependencies</strong> for all of the
          participants.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <strong>Method</strong>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <em>Participants</em>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          A total of 192 undergraduate students from the Université Paris
          Descartes, Paris, France, participated in the experiment in partial
          fulfillment of a course requirement. All participants were native
          French speakers. Participants were randomly assigned to one of the
          four <strong data-auto="strong_text">Dependency</strong> Type × Digit
          Combination
          <strong data-auto="strong_text">experimental</strong> groups (<em
            >n</em
          >
          = 48 for each group).
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <em>Materials</em>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          The stimuli used in the study phase consisted of 20 problems composed
          of a target digit inside a rectangle on the left (which indicated the
          value of the target for this problem) and a sequence of 20 digits on
          the right (see <a href="#fig1">Figure 1</a>). In every sequence, (a)
          each of the 10 digits (0, 1, 2, 3, 4, 5, 6, 7, 8, 9) occurred twice,
          (b) a pair of digits forming an
          <strong data-auto="strong_text">adjacent</strong>
          <strong data-auto="strong_text">dependency</strong> (e.g.,
          <em>64</em>) occurred twice, and (c) a pair of digits forming a
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependency</strong> (e.g.,
          <em>3X7</em>) occurred twice. The
          <strong data-auto="strong_text">adjacent</strong> and
          <strong data-auto="strong_text">nonadjacent</strong> pairs were
          identical for all of the problems presented to a given participant.
          For each problem, the target digit was selected randomly among the
          digits 0, 1, 2, 5, 8, and 9, that is, those digits that were not
          elements of the pairs forming the
          <strong data-auto="strong_text">adjacent</strong> and
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependencies</strong>. When the task
          involved a subtraction between
          <strong data-auto="strong_text">adjacent</strong> digits, the target
          digit occurred once just before one of the two pairs of digits forming
          an <strong data-auto="strong_text">adjacent</strong>
          <strong data-auto="strong_text">dependency</strong> and once in
          another position. When the task involved a subtraction between
          <strong data-auto="strong_text">nonadjacent</strong> digits, the
          target digit occurred once between the two pairs of digits forming a
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependency</strong> and once in
          another position. <a href="#fig1">Figure 1a</a> shows three problems
          with the <strong data-auto="strong_text">adjacent</strong> pair
          <em>64</em>, and with the
          <strong data-auto="strong_text">nonadjacent</strong> pair
          <em>3X7</em>, when the task consisted in deciding whether the
          difference between the two digits following the target digit equals
          three (this is the case for the second problem in which the digits 8
          and 5 follow the target 1). <a href="#fig1">Figure 1b</a> shows three
          problems with the
          <strong data-auto="strong_text">adjacent</strong> pair <em>64</em>,
          and with the <strong data-auto="strong_text">nonadjacent</strong> pair
          <em>3X7</em>, when the task consists in deciding whether the
          difference between the two digits surrounding the target digit equals
          three (this is the case for the second problem in which the digits 4
          and 1 surround the target 2).
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          For each participant, a set of 20 problems was generated. For each
          problem, the value of the target digit, the position of the two pairs
          forming the <strong data-auto="strong_text">adjacent</strong>
          <strong data-auto="strong_text">dependency</strong>, the position of
          the two pairs forming the
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependency</strong>, and the position
          of the residual digits were determined randomly. Different
          randomizations were used for each participant. This led to the
          construction of 192 different sets of 20 problems. For half of the
          problems, the <strong data-auto="strong_text">adjacent</strong>
          <strong data-auto="strong_text">dependencies</strong> were
          <em>64</em> and the
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependencies</strong> were
          <em>3X7</em>, and for the other half, the
          <strong data-auto="strong_text">adjacent</strong>
          <strong data-auto="strong_text">dependencies</strong> were
          <em>37</em> and the
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependencies</strong> were
          <em>6X4</em>. Each of the 192 sets of 20 problems was printed in
          Verdana font, size 12, on a single A4 sheet of paper (21.0 × 29.7 cm).
          The distances were 1.5 cm between the target digit inside the
          rectangle and the first digit of the sequence and 0.7 cm between two
          successive digits of the sequence. There was a distance of 1.0 cm
          between two successive problems.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          A two-choice recognition test was used to assess participants'
          <strong data-auto="strong_text">learning</strong> of
          <strong data-auto="strong_text">adjacent</strong> and
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependencies</strong>. The stimuli
          used in this test consisted of 16 pairs of three-digit strings. Each
          pair contained a legal string and an illegal string. Eight pairs were
          used to assess the
          <strong data-auto="strong_text">learning</strong> of
          <strong data-auto="strong_text">adjacent</strong>
          <strong data-auto="strong_text">dependencies</strong>. For the
          participants who were exposed to <em>64</em> as the
          <strong data-auto="strong_text">adjacent</strong>
          <strong data-auto="strong_text">dependency</strong> and
          <em>3X7</em> as the
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependency</strong> during the study
          phase, the legal string was <em>64X</em> for four pairs and
          <em>X64</em> for four other pairs. The illegal string resulted from a
          spacing violation in four pairs <em>6X4</em> and from an order
          violation in four other pairs <em>46X</em> or <em>X46</em>. Eight
          other pairs were used to assess the
          <strong data-auto="strong_text">learning</strong> of
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependencies</strong>. The legal
          string was <em>3X7</em> for the eight pairs. The illegal string
          resulted from a spacing violation in four pairs <em>37X</em> or
          <em>X37</em> and from an order violation in four other pairs
          <em>7X3</em>. Pairs were elaborated on the basis of the same principle
          for the participants who were exposed to the opposite digit
          combination, that is, <em>37</em> as the
          <strong data-auto="strong_text">adjacent</strong>
          <strong data-auto="strong_text">dependency</strong> and
          <em>6X4</em> as the
          <strong data-auto="strong_text">nonadjacent</strong>
          <strong data-auto="strong_text">dependency</strong> during the study
          phase. The digit <em>X</em> was always selected randomly among the six
          digits used as target digits in the study phase (0, 1, 2, 5, 8, 9).
          The digit <em>X</em> was the same in the legal string and in the
          illegal string of a pair (e.g., 640 – 604; 387 – 378). For each
          participant, the 16 pairs of three-digit strings were printed in
          Verdana font, size 12, on a single A4 sheet of paper. The distances
          were 0.7 cm between two successive digits of a sequence and 2.0 cm
          between the third digit of the left string and the first digit of the
          right string of a pair. There was a distance of 1.5 cm between two
          pairs.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <em>Procedure</em>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          The experiment was carried out with groups of 15 to 20 participants.
          In the study phase, the participants were provided with the sheet of
          paper containing the 20 problems. Participants were asked to look for
          the target digit within each sequence of 20 digits while going through
          the sequence from left to right. They were informed that the target
          digit could occur more than once within a sequence. At this point,
          half of the participants were asked to calculate whether the absolute
          value of the difference between the two digits following the target
          digit equaled 3 (i.e., was +3 or −3), a task that entails the
          processing of two
          <strong data-auto="strong_text">adjacent</strong> digits. The other
          half of the participants were asked to calculate whether the absolute
          difference between the two digits surrounding the target digit equaled
          3, a task that entails the processing of two
          <strong data-auto="strong_text">nonadjacent</strong> digits. The two
          groups had to circle the target and the two digits when this condition
          was fulfilled (this condition was fulfilled in at least two problems
          for each participant). The participants were not informed that they
          would have to perform a recognition test after the study phase.
          Completing the 20 problems of the study phase usually took less than
          10 min.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          After this task, the sheets of paper used in the study phase were
          withdrawn and replaced by those for the recognition test. All of the
          participants, regardless of the group to which they were assigned,
          were asked to select which of two strings of three digits was part of
          the digit sequences viewed in the study phase of the experiment.
          Participants were told that they had to make a choice for each of the
          16 pairs, even if they sometimes felt that they were guessing.
        </p>
      </div>
      <div
        class="col-sm border border-dark border-left-0 border-top-0 pt-3"
        style="height: 300px; overflow: auto;"
      >
        <h4>Method</h4>
        <p class="body-paragraph" data-auto="body_paragraph">
          <strong>Participants</strong>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          All participants were native English speakers and had normal or
          corrected-to-normal vision. The
          <strong data-auto="strong_text">semantic</strong> categorization task
          was completed by 17 participants, and the lexical decision task was
          completed by 44 participants (22 participants randomly assigned to
          each half of the words). All participants were undergraduate students
          at the University of Connecticut who received course credit for
          participating.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <strong>Stimuli</strong>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          The critical stimuli were the 532 unique orthographic forms in the
          <a href="#c23">McRae et al. (2005)</a> feature norm database. These
          items were chosen to present the strongest test of feature-based
          representations. For the lexical decision test, 532 pronounceable
          nonwords were created that were matched in length to the words, and
          the items were divided into two lists of 532 items each (266 words,
          266 nonwords) to keep the overall number of trials per participant
          equal for the two tasks and avoid fatigue effects.
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          <strong>Procedure</strong>
        </p>
        <p class="body-paragraph" data-auto="body_paragraph">
          Stimuli were presented visually in 18-point black Courier font on a
          white computer screen background using E-Prime software (<strong
            data-auto="strong_text"
            >Psychology</strong
          >
          Software Tools, Inc., Pittsburgh, PA). We used a 17 in. (43.18 cm)
          cathode ray tube monitor with a refresh rate of 100 Hz and a
          resolution set to 800 × 600 pixels. Each trial began with a central
          fixation cross on screen for 1 s, then the stimulus was presented
          centered horizontally and vertically and remained on screen until the
          participant responded (or until 5 s had elapsed). Each participant
          completed either the lexical decision version of the experiment or the
          <strong data-auto="strong_text">semantic</strong> categorization
          version. These tasks were chosen to examine basic word-recognition
          accuracy and latency in one task that requires
          <strong data-auto="strong_text">semantic</strong> access (<strong
            data-auto="strong_text"
            >semantic</strong
          >
          categorization) and one task that, in principle, does not (lexical
          decision). The experiment was completed in one session lasting
          approximately 20 min. Before beginning the critical block,
          participants completed a 20-trial practice session. In the lexical
          decision task, participants were asked to indicate whether each item
          was a word; in the
          <strong data-auto="strong_text">semantic</strong> categorization task,
          the participants were asked to indicate whether each word referred to
          a living thing or a nonliving thing.
        </p>
        <a id="xlm-34-1-65-ID0EBDCAA"> </a>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <form>
      <label>
        <b>
          1. Which of the two studies, do you think, has a better chance to
          replicate (observe the same findings if an identical study is
          re-performed)?
        </b>
      </label>
      <div class="container">
        <div class="form-row m-1">
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="chanceReplicate"
              id="chanceStudy1"
              value="chanceStudy1"
            />
            <label class="form-check-label" for="chanceStudy1">
              Study 1
            </label>
          </div>
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="chanceReplicate"
              id="chanceStudy2"
              value="chanceStudy2"
            />
            <label class="form-check-label" for="chanceStudy2">
              Study 2
            </label>
          </div>
        </div>
      </div>
      <br />
      <label>
        <b>
          2. In which of the two studies, do you think, will the other
          participants of this experiment (the experiment you are now
          participating) have better judgments in estimating the chance of the
          replication?
        </b>
      </label>
      <div class="container">
        <div class="form-row m-1">
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="betterJudgement"
              id="judgeStudy1"
              value="judgeStudy1"
            />
            <label class="form-check-label" for="judgeStudy1">
              Study 1
            </label>
          </div>
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="betterJudgement"
              id="judgeStudy2"
              value="judgeStudy2"
            />
            <label class="form-check-label" for="judgeStudy2">
              Study 2
            </label>
          </div>
        </div>
      </div>
      <br />
      <div class="container p-0 m-0">
        <div class="form-row p-0 m-0">
          <label class="pr-3 pt-2">
            <b>
              3. Please choose one study to do the following task:
            </b>
          </label>
          <div class="form-check form-check-inline">
            <input
              onchange="studyUpdate('The Potential of Social Identity for Equilibrium Selection');"
              class="form-check-input"
              type="radio"
              name="taskStudy"
              id="taskStudy1"
              value="taskStudy1"
            />
            <label class="form-check-label" for="taskStudy1">
              Study 1
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              onchange="studyUpdate('Attractor Dynamics and Semantic Neighborhood Density: Processing Is Slowed by Near Neighbors and Speeded by Distant Neighbors');"
              class="form-check-input"
              type="radio"
              name="taskStudy"
              id="taskStudy2"
              value="taskStudy2"
            />
            <label class="form-check-label" for="taskStudy2">
              Study 2
            </label>
          </div>
        </div>
      </div>
      <div>
        <label>
          <span class="d-inline" id="chosenStudyBefore">
            Please choose a study before proceeding to step 4.</span
          >
          <span
            class="d-inline"
            id="chosenStudyText1"
            style="display: none !important;"
            >Your choice is the study "</span
          ><b class="d-inline" id="chosenStudy"></b
          ><span
            class="d-inline"
            id="chosenStudyText2"
            style="display: none !important;"
            >"</span
          >
        </label>
      </div>
      <script>
        function studyUpdate(newName) {
          document.getElementById("chosenStudy").innerHTML = newName;
          document.getElementById("chosenStudyBefore").style =
            "display: none!important;";
          document.getElementById("chosenStudyText1").style = "display: block";
          document.getElementById("chosenStudyText2").style = "display: block";
        }
      </script>
      <br />
      <label for="mainClaimsUserInput">
        <b>
          4. Please use 1~3 sentence to describe according to your understanding
          how the given experiment justify their claims/findings?
        </b>
      </label>

      <textarea
        class="form-control"
        id="mainClaimsUserInput"
        rows="3"
        placeholder="Type Here."
      ></textarea>
      <br />
    </form>
    <br />
  </div>

  {{> BidirectNavigation nextText="Confirm and Proceed" nextPage ="ExitSurvey"
  prevRemoved=true prevPage="Pair3Page1"}}
</template>
