<template name="Paper6Page2">
  {{>Title title="Paper 6"}} {{>ProgressBar length="47"}}
  <h5 class="text-center">
    Please read the following material and answer questions.
  </h5>
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <p>
      <b>
        Study title: Attractor dynamics and semantic neighborhood density:
        processing is slowed by near neighbors and speeded by distant
      </b>
    </p>
  </div>
  <br />
  <h5>
    Instruction: The material below is the abstract (summary) of the whole
    study. Read the abstract and answer the following questions.
  </h5>
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <p>
      <b>Abstract: </b> The authors investigated semantic neighborhood density
      effects on visual word processing to examine the dynamics of activation
      and competition among semantic representations. Experiment 1 validated
      feature-based semantic representations as a basis for computing semantic
      neighborhood density and suggested that near and distant neighbors have
      opposite effects on word processing. Experiment 2 confirmed these results:
      Word processing was slower for dense near neighborhoods and faster for
      dense distant neighborhoods. Analysis of a computational model showed that
      attractor dynamics can produce this pattern of neighborhood effects. The
      authors argue for reconsideration of traditional models of neighborhood
      effects in terms of attractor dynamics, which allow both inhibitory and
      facilitative effects to emerge.
    </p>
  </div>
  <br />
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <form>
      <label>
        <b>
          1. How many phrases or terms in the abstract that are unfamiliar to
          you?
        </b>
      </label>
      <div class="container">
        <div class="form-row m-1">
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="unfamiliarTerms"
              id="unfamiliar1to2"
              value="unfamiliar1to2"
            />
            <label class="form-check-label" for="unfamiliar1to2">
              1~2
            </label>
          </div>
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="unfamiliarTerms"
              id="unfamiliar3to4"
              value="unfamiliar3to4"
            />
            <label class="form-check-label" for="unfamiliar3to4">
              3~4
            </label>
          </div>
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="unfamiliarTerms"
              id="unfamiliar5to6"
              value="unfamiliar5to6"
            />
            <label class="form-check-label" for="unfamiliar5to6">
              5~6
            </label>
          </div>
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="unfamiliarTerms"
              id="unfamiliar6more"
              value="unfamiliar6more"
            />
            <label class="form-check-label" for="unfamiliar6more">
              More than 6
            </label>
          </div>
        </div>
      </div>
      <br />
      <label for="unfamiliarTermsUserInput">
        <b>
          2. Please write down one or two terms or phrases that you are
          unfamiliar with.
        </b>
      </label>
      <input
        type="text"
        class="form-control"
        id="unfamiliarTermsUserInput"
        placeholder="Type Here. Separate by comma “,”"
      />
      <br />
      <label>
        <b>
          3. How much do you understand the
          <span class="text-success">main claims/findings</span> of the study
          after reading the abstract
        </b>
      </label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="mainClaims"
          id="mainClaimsGeneralVeryClear"
          value="mainClaimsGeneralVeryClear"
        />
        <label class="form-check-label" for="mainClaimsGeneralVeryClear">
          It is very clear to me what the study has found.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="mainClaims"
          id="mainClaimsGeneralIdeas"
          value="mainClaimsGeneralIdeas"
        />
        <label class="form-check-label" for="mainClaimsGeneralIdeas">
          I have some general ideas about what the study has found but still
          find some places unclear
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="mainClaims"
          id="mainClaimsNotSure"
          value="mainClaimsNotSure"
        />
        <label class="form-check-label" for="mainClaimsNotSure">
          I am not so sure about what the study has found, but I can make a
          rough guess
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="mainClaims"
          id="mainClaimsNoIdea"
          value="mainClaimsNoIdea"
        />
        <label class="form-check-label" for="mainClaimsNoIdea">
          I have no idea what the study attempts to achieve
        </label>
      </div>
      <br />
      <label for="mainClaimsUserInput">
        <b>
          4. Use your own language to briefly describe the
          <span class="text-success">main claims/findings</span> of the paper
          based on your understanding of the abstract. Make your best guess if
          necessary.
        </b>
      </label>

      <textarea
        class="form-control"
        id="mainClaimsUserInput"
        rows="3"
        placeholder="Type Here."
      ></textarea>
      <br />
      <label>
        <b>
          5. How did your own experience support or contradict to the
          <span class="text-success">claims/findings</span> of the study
          presented in the abstract?
        </b>
      </label>
      <div class="container">
        <div class="form-row m-1">
          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="contradictions"
              id="ContradictCompletelyContradict"
              value="ContradictCompletelyContradict"
            />
            <label
              class="form-check-label"
              for="ContradictCompletelyContradict"
            >
              Completely contradict to
            </label>
          </div>
          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="contradictions"
              id="ContradictSomewhatContradict"
              value="ContradictSomewhatContradict"
            />
            <label class="form-check-label" for="ContradictSomewhatContradict">
              Somewhat contradict to
            </label>
          </div>
          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="contradictions"
              id="ContradictHardToSay"
              value="ContradictHardToSay"
            />
            <label class="form-check-label" for="ContradictHardToSay">
              Hard to say/no relevant experience
            </label>
          </div>
          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="contradictions"
              id="ContradictSomewhatSupport"
              value="ContradictSomewhatSupport"
            />
            <label class="form-check-label" for="ContradictSomewhatSupport">
              Somewhat support
            </label>
          </div>
          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="contradictions"
              id="contradictCompletelySupport"
              value="contradictCompletelySupport"
            />
            <label class="form-check-label" for="contradictCompletelySupport">
              Completely Support
            </label>
          </div>
        </div>
      </div>
    </form>
    <br />
  </div>

  {{> BidirectNavigation nextText="Confirm and Proceed" nextPage ="Paper6Page3"
  prevRemoved=true prevPage="Paper6Page1"}}
</template>
