<template name="Paper2Page3">
  {{>Title title="Paper 2"}} {{>ProgressBar length="33"}}
  <h5 class="text-center">
    Please read the following material and answer questions.
  </h5>
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <p>
      <b>
        Study title: Modeling Distributions of Immediate Memory Effects: No
        Strategies Needed?
      </b>
    </p>
  </div>
  <br />
  <h5>
    Instruction: The material below describes an experiment the authors ran to
    testify the claims/findings presented in the abstract (previous page). Read
    the material and answer the following questions.
  </h5>
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <p>
      <b>Experiment 1 </b><br />Experiment 1 compares recall performance of
      lists of phonologically similar items with recall of lists of dissimilar
      items. The major difference between this and other published studies is
      the number of participants. <br /><br /><b>Method</b><br /><b
        >Participants</b
      ><br />A total of 100 Purdue University undergraduates who were native
      speakers of American English participated in exchange for course credit.
      <br /><b>Stimuli</b><br />The to-be-remembered items were 64 one-syllable
      words used by Surprenant, Neath, and LeCompte (1999) to study PSEs. An
      example similar list is vote, boat, goat, float, note, and coat. An
      example dissimilar list is break, sick, vote, greet, rat, and fun. Each
      word appeared in both similar and dissimilar lists (e.g., vote in the
      above example). Lists were randomized such that participants saw the same
      words but in different random orders.<br /><b>Procedure</b
      ><br />Participants were informed that we were interested in how
      accurately they could remember the order in which a series of words had
      been presented. Each word was shown in uppercase, center justified, for
      1.5 s in the middle of the screen in 20-point Helvetica font. After the
      final word was shown, six response buttons became active and were labeled
      with the six words in alphabetical order. The participants were asked to
      indicate the presentation order by clicking on appropriately labeled
      buttons using the mouse. For example, if they thought the first word
      was break, they should click on the button labeled break first. If they
      thought the third word was vote, they should click on the button
      labeled vote third. Participants received 20 lists, half with dissimilar
      and half with similar items, and were informed they could take rest breaks
      at any point. The order of dissimilar and similar trials was randomly
      determined for each participant. Participants were tested individually,
      and an experimenter remained in the room to ensure compliance with the
      instructions.
    </p>
  </div>
  <br />
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <form>
      <label for="participantRecruitCheck">
        <b>
          6. How many participants were recruited in the experimental study?
        </b>
      </label>
      <div class="row container">
        <div style="width: 120px;">
          <input
            type="number"
            class="form-control"
            id="participantRecruitCheck"
            placeholder="0"
          />
        </div>
        <div class="col-sm no-gutters">
          <label for="participantRecruitCheck">Participants</label>
        </div>
      </div>

      <br />
      <p></p>
      <label for="predictionProbability">
        <b>
          7. If the same type of experiments are re-performed, what probability
          do you assign that the findings presented in the abstract will be
          observed? Make your best prediction from 0% (not likely at all) to 100
          % (with certainty the same finding).
        </b>
      </label>
      <input type="range" class="custom-range" id="predictionProbability" />
      <label for="predictionProbability"
        >Your Prediction: <span id="predictionProbabilityValue"></span>%
      </label>
      <script>
        var slider = document.getElementById("predictionProbability");
        var output = document.getElementById("predictionProbabilityValue");
        output.innerHTML = slider.value;

        slider.oninput = function () {
          output.innerHTML = this.value;
        };
      </script>
      <br />
      <br />
      <label>
        <b>
          8. How do you feel that the claims/findings of the whole study may
          hold in other scenarios besides the scenario tested in the above
          experiment?
        </b>
      </label>
      <div class="container">
        <div class="form-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="otherScenarioEstimate"
              id="otherScenarioNo"
              value="otherScenarioNo"
            />
            <label class="form-check-label" for="otherScenarioNo">
              The claims/findings will probability NOT hold in other scenarios.
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="otherScenarioEstimate"
              id="otherScenarioMaybe"
              value="otherScenarioMaybe"
            />
            <label class="form-check-label" for="otherScenarioMaybe">
              The claims/findings may partially hold in some similar scenarios.
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="otherScenarioEstimate"
              id="otherScenarioTrue"
              value="otherScenarioTrue"
            />
            <label class="form-check-label" for="otherScenarioTrue">
              The claims/findings will hold to be true in many other similar
              scenarios.
            </label>
          </div>
        </div>
      </div>
    </form>
    <br />
  </div>

  {{> BidirectNavigation nextText="Confirm and Proceed" nextPage ="Paper3Page1"
  prevPage="Paper2Page2"}}
</template>
