<template name="Paper2Page3">
  {{>Title title="Paper 2"}} {{>ProgressBar length="17"}}
  <h5 class="text-center">
    Please read the following material and answer questions.
  </h5>
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <p>
      <b>
        Study title: Accelerated Relearning After Retrieval-Induced Forgetting
        The Benefit of Being Forgotten
      </b>
    </p>
  </div>
  <br />
  <h5>
    Instruction: The material below describes an experiment the authors ran to
    testify the claims/findings presented in the abstract (previous page). Read
    the material and answer the following questions.
  </h5>
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <span class="medium-bold">
      <h3>
        <a
          data-auto="ep_link"
          href="#toc"
          onclick="FocusElement('toc');"
          id="hd_toc_xlm-34-1-230-ID0ECCAA"
          title="Method"
          >Method
        </a>
      </h3>
    </span>
    <br />
    <p class="body-paragraph" data-auto="body_paragraph">
      We tested our hypothesis by having participants undergo a series of
      <strong data-auto="strong_text">retrieval</strong>-practice and
      <strong data-auto="strong_text">relearning</strong> cycles that were
      designed to induce and eliminate the effects of
      <strong data-auto="strong_text">retrieval</strong>-<strong
        data-auto="strong_text"
        >induced</strong
      >
      <strong data-auto="strong_text">forgetting</strong> repeatedly.
    </p>
    <a id="xlm-34-1-230-ID0ECCCAA"> </a>
    <h4>Participants</h4>
    <p class="body-paragraph" data-auto="body_paragraph">
      A total of 240 undergraduate students from the University of California,
      Los Angeles (73 men and 167 women) averaging 20.7 years of age
      participated in the experiment.
    </p>
    <a id="xlm-34-1-230-ID0EBCCAA"> </a>
    <h4>Materials</h4>
    <p class="body-paragraph" data-auto="body_paragraph">
      Eight categories, each containing six exemplars of high taxonomic
      strength, no two of which began with the same first letter, were used in
      the present study. The eight
      <strong data-auto="strong_text">experimental</strong> categories were
      first divided into two separate sets of four so that—for any individual
      participant—half of the categories received
      <strong data-auto="strong_text">retrieval</strong> practice, and the other
      half did not. The two subsets were further divided into two sets of two
      such that half of the categories receiving
      <strong data-auto="strong_text">retrieval</strong> practice and half of
      the categories not receiving
      <strong data-auto="strong_text">retrieval</strong> practice were either
      relearned or not relearned. Thus, for any 1 participant, there were two
      practiced categories that were relearned and two practiced categories that
      were not relearned and, also, two unpracticed categories that were
      relearned and two unpracticed categories that were not relearned.
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      During <strong data-auto="strong_text">retrieval</strong> practice,
      participants were shown a series of category names and two-letter stems
      that began associated exemplars of relatively low taxonomic frequency. The
      targets of this
      <strong data-auto="strong_text">retrieval</strong> practice were always
      extralist items—that is, items that were not presented during the study
      phase of the experiment. Although this procedure differs from the typical
      <strong data-auto="strong_text">retrieval</strong>-practice paradigm—as
      <a href="#c5">Bauml (2002)</a> and
      <a href="#c26">Storm, Bjork, Bjork, and Nestojko (2006)</a> have
      demonstrated—<strong data-auto="strong_text">retrieval</strong>-<strong
        data-auto="strong_text"
        >induced</strong
      >
      <strong data-auto="strong_text">forgetting</strong> is also obtained when
      participants generate extralist exemplars during
      <strong data-auto="strong_text">retrieval</strong> practice. Thus, for a
      given subject, all six exemplars of a given category presented during the
      study phase served either as Rp– items or as Nrp items. The experiment was
      counterbalanced such that studied exemplars were associated with every
      <strong data-auto="strong_text">experimental</strong> condition equally
      often across participants.
    </p>
    <a id="xlm-34-1-230-ID0EACCAA"> </a>
    <h4>Procedure</h4>
    <p class="body-paragraph" data-auto="body_paragraph">
      The experiment was conducted in three main phases: study,
      <strong data-auto="strong_text">retrieval</strong> practice/<strong
        data-auto="strong_text"
        >relearning</strong
      >, and test.
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      <strong>Study phase</strong>
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      Forty-eight category–exemplar pairs were presented via computer at a rate
      of one pair per second. The presentation order was set randomly with the
      constraint that no two consecutive pairs were from the same category.
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      <strong
        ><strong data-auto="strong_text">Retrieval</strong>-practice/<strong
          data-auto="strong_text"
          >relearning</strong
        >
        phase</strong
      >
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      The <strong data-auto="strong_text">retrieval</strong>-practice/<strong
        data-auto="strong_text"
        >relearning</strong
      >
      phase immediately followed the study phase. Participants were randomly
      assigned to one of the following five conditions, which are shown in
      schematic form in <a href="#fig1">Figure 1</a>: (a) participants receiving
      one block of <strong data-auto="strong_text">retrieval</strong> practice;
      (b) participants receiving one block of
      <strong data-auto="strong_text">retrieval</strong> practice, followed by
      one block of <strong data-auto="strong_text">relearning</strong>; (c)
      participants receiving one block of
      <strong data-auto="strong_text">retrieval</strong> practice, followed by
      one block of <strong data-auto="strong_text">relearning</strong>, and then
      a second block of
      <strong data-auto="strong_text">retrieval</strong> practice; (d)
      participants receiving one block of
      <strong data-auto="strong_text">retrieval</strong> practice, followed by
      one block of <strong data-auto="strong_text">relearning</strong>, a second
      block of <strong data-auto="strong_text">retrieval</strong> practice, and
      then a second block of
      <strong data-auto="strong_text">relearning</strong>; (e) participants
      receiving one block of
      <strong data-auto="strong_text">retrieval</strong> practice, followed by
      one block of <strong data-auto="strong_text">relearning</strong>, a second
      block of <strong data-auto="strong_text">retrieval</strong> practice, a
      second block of <strong data-auto="strong_text">relearning</strong>, and
      then a third block of
      <strong data-auto="strong_text">retrieval</strong> practice. Although the
      same cues were provided during the
      <strong data-auto="strong_text">retrieval</strong>-practice blocks, and
      the same items were relearned in subsequent
      <strong data-auto="strong_text">relearning</strong> blocks, the order of
      their presentation was different in each block.<br /><br /><a id="fig1">
      </a
      ><span class="centered"
        ><img
          class="rs_skip"
          src="http://largecontent.ebsco-content.com/embimages/6cc9933d98dba653c56b2e8f11cffe80/5ebcaef5/pdh/xlm/xlm-34-1-230-fig1a.gif"
          alt="xlm-34-1-230-fig1a.gif"
          title="Figure 1. Schematic illustration demonstrating the five between-subjects retrieval-practice/relearning conditions. Participants in each condition were tested 5 min after finishing the final block of either retrieval practice or relearning, depending on the condition. Rp = retrieval practice."
        /><em
          >Figure 1. Schematic illustration demonstrating the five
          between-subjects
          <strong data-auto="strong_text">retrieval</strong>-practice/<strong
            data-auto="strong_text"
            >relearning</strong
          >
          conditions. Participants in each condition were tested 5 min
          <strong data-auto="strong_text">after</strong> finishing the final
          block of either
          <strong data-auto="strong_text">retrieval</strong> practice or
          <strong data-auto="strong_text">relearning</strong>, depending on the
          condition. Rp =
          <strong data-auto="strong_text">retrieval</strong> practice.</em
        ></span
      >
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      A block of <strong data-auto="strong_text">retrieval</strong> practice
      consisted of 24 extralist category-plus-two-letter-stem cues (6 from each
      of the 4 practiced categories for that subject) appearing on the screen
      for 5 s each, with the participants instructed to write down the
      particular exemplar that completed the two-letter stem. None of the
      letter-stem cues began with the same letter as any item from the same
      category that had been presented in the study phase. Each block of
      <strong data-auto="strong_text">relearning</strong> consisted of the
      re-presentations of all of the category–exemplar pairs from the two
      practiced categories and the two unpracticed categories that were to be
      relearned for that subject. Each
      <strong data-auto="strong_text">relearning</strong> block contained 24
      pairs (6 from each of those 4 categories) presented in random order and
      for 1 s each.
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      <strong>Final testing phase</strong>
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      <strong data-auto="strong_text">After</strong> completing the
      <strong data-auto="strong_text">retrieval</strong>-practice/<strong
        data-auto="strong_text"
        >relearning</strong
      >
      phase and a subsequent 5-min intervening task, participants were given a
      category-plus-one-letter-stem cued-recall test for all of the 48
      originally studied category–exemplar pairs. Each cue was presented for 3
      s, and the participants responded out loud for the experimenter to record.
    </p>
    <a id="xlm-34-1-230-ID0EBCAA"> </a>
  </div>
  <br />
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <form>
      <label for="participantRecruitCheck">
        <b>
          6. How many participants were recruited in the experimental study?
        </b>
      </label>
      <div class="row container">
        <div style="width: 120px;">
          <input
            type="number"
            class="form-control"
            id="participantRecruitCheck"
            placeholder="0"
          />
        </div>
        <div class="col-sm no-gutters">
          <label for="participantRecruitCheck">Participants</label>
        </div>
      </div>

      <br />
      <p></p>
      <label for="predictionProbability">
        <b>
          7. If the same type of experiments are re-performed, what probability
          do you assign that the findings presented in the abstract will be
          observed? Make your best prediction from 0% (not likely at all) to 100
          % (with certainty the same finding).
        </b>
      </label>
      <input type="range" id="predictionProbability" />
      <!-- <input type="range" class="custom-range" /> -->
      <label for="predictionProbability"
        >Your Prediction: <span id="predictionProbabilityValue"></span>%
      </label>
      <script>
        var slider = document.getElementById("predictionProbability");
        var output = document.getElementById("predictionProbabilityValue");
        output.innerHTML = slider.value;

        slider.oninput = function () {
          output.innerHTML = this.value;
        };
      </script>

      <style>
        /*Chrome*/
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
          input[type="range"] {
            overflow: hidden !important;

            width: 100% !important;
            -webkit-appearance: none !important;
            background-color: #e9ecef !important;
          }

          input[type="range"]::-webkit-slider-runnable-track {
            height: 1em !important;
            -webkit-appearance: none !important;
            color: #007bff !important;
            margin-top: -1px !important;
          }

          input[type="range"]::-webkit-slider-thumb {
            width: 1em !important;
            -webkit-appearance: none !important;
            height: 1em !important;
            cursor: ew-resize !important;
            background: #007bff !important;
            box-shadow: -50vw 0 0 50vw #90bae8 !important;
          }
        }
        /** FF*/
        input[type="range"]::-moz-range-progress {
          background-color: #007bff !important;
        }
        input[type="range"]::-moz-range-track {
          background-color: #e9ecef !important;
        }
        /* IE*/
        input[type="range"]::-ms-fill-lower {
          background-color: #007bff !important;
        }
        input[type="range"]::-ms-fill-upper {
          background-color: #e9ecef !important;
        }
      </style>
      <br />
      <br />
      <label>
        <b>
          8. How do you feel that the claims/findings of the whole study may
          hold in other scenarios besides the scenario tested in the above
          experiment?
        </b>
      </label>
      <div class="container">
        <div class="form-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="otherScenarioEstimate"
              id="otherScenarioNo"
              value="otherScenarioNo"
            />
            <label class="form-check-label" for="otherScenarioNo">
              The claims/findings will probability NOT hold in other scenarios.
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="otherScenarioEstimate"
              id="otherScenarioMaybe"
              value="otherScenarioMaybe"
            />
            <label class="form-check-label" for="otherScenarioMaybe">
              The claims/findings may partially hold in some similar scenarios.
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="otherScenarioEstimate"
              id="otherScenarioTrue"
              value="otherScenarioTrue"
            />
            <label class="form-check-label" for="otherScenarioTrue">
              The claims/findings will hold to be true in many other similar
              scenarios.
            </label>
          </div>
        </div>
      </div>
    </form>
    <br />
  </div>

  {{> BidirectNavigation nextText="Confirm and Proceed" nextPage ="Paper3Page1"
  prevRemoved=true prevPage="Pair1Page1"}}
</template>
