<template name="Paper5Page3">
  {{>Title title="Paper 5"}} {{>ProgressBar length="42"}}
  <h5 class="text-center">
    Please read the following material and answer questions.
  </h5>
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <p>
      <b>
        Study title: An Attention-Based Associative Account of Adjacent and
        Nonadjacent Dependency Learning
      </b>
    </p>
  </div>
  <br />
  <h5>
    Instruction: The material below describes an experiment the authors ran to
    testify the claims/findings presented in the abstract (previous page). Read
    the material and answer the following questions.
  </h5>
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <span class="medium-bold"
      ><h3>
        <a
          data-auto="ep_link"
          href="#toc"
          onclick="FocusElement('toc');"
          id="hd_toc_xlm-34-1-80-ID0EECAA"
          title="Experiment 1"
          >Experiment 1</a
        >
      </h3></span
    ><br />
    <p class="body-paragraph" data-auto="body_paragraph">
      In Experiment 1, participants were presented with a set of 20 problems.
      Each problem consisted of a digit on the left, which indicated the target
      for this problem, followed by a sequence of 20 digits. Each sequence
      consisted of two occurrences of an
      <strong data-auto="strong_text">adjacent</strong>
      <strong data-auto="strong_text">dependency</strong> (e.g., the digit 4
      systematically followed the digit 6) and two occurrences of a
      <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependency</strong> (e.g., the digit 7
      systematically followed the digit 3, with a variable digit intervening
      between the digits 3 and 7). An example of a sequence is: 5 8 5 6 4 3 9 7
      1 0 8 6 4 9 3 0 7 2 2 1 (see <a href="#fig1">Figure 1</a>). Participants
      had to browse the 20-digit sequences, from left to right, in order to
      detect the targets. When participants detected a target, they had to
      calculate the difference between two digits, either the two digits that
      immediately followed the target or the two digits that immediately
      surrounded the target. All of the participants had to circle the target
      and the two digits they had to subtract from each other when the absolute
      value of their difference equaled three. It is worth noting that
      participants never had to circle the elements forming the
      <strong data-auto="strong_text">adjacent</strong> and
      <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependencies</strong>, as neither the
      difference between 6 and 4 nor the difference between 3 and 7 equals 3 (or
      −3). After this study phase, the same recognition test was used in the two
      groups to assess the <strong data-auto="strong_text">learning</strong> of
      both <strong data-auto="strong_text">adjacent</strong> and
      <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependencies</strong>.<br /><br /><a
        id="fig1"
      >
      </a
      ><span class="centered"
        ><img
          class="rs_skip"
          src="http://largecontent.ebsco-content.com/embimages/9014c5ffc4ca9433278e80988daba98d/5ebcb1ab/pdh/xlm/xlm-34-1-80-fig1a.gif"
          alt="xlm-34-1-80-fig1a.gif"
          title="Figure 1. Examples of problems used in the three experiments. Each problem was formed with one target digit on the left, within a rectangle, and one 20-digit sequence on the right: (a) three problems used in Experiment 1, adjacent task; (b) three problems used in Experiments 1, 3, 4a, and 4b, nonadjacent task; and (c) three problems used in Experiment 2 nonadjacent task. In all of these examples, the adjacent regularity was 64, and the nonadjacent regularity was 3X7."
        /><em
          >Figure 1. Examples of problems used in the three experiments. Each
          problem was formed with one target digit on the left, within a
          rectangle, and one 20-digit sequence on the right: (a) three problems
          used in Experiment 1,
          <strong data-auto="strong_text">adjacent</strong> task; (b) three
          problems used in Experiments 1, 3, 4a, and 4b,
          <strong data-auto="strong_text">nonadjacent</strong> task; and (c)
          three problems used in Experiment 2
          <strong data-auto="strong_text">nonadjacent</strong> task. In all of
          these examples, the
          <strong data-auto="strong_text">adjacent</strong> regularity was 64,
          and the
          <strong data-auto="strong_text">nonadjacent</strong> regularity was
          3X7.</em
        ></span
      >
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      An <strong data-auto="strong_text">attention</strong>-<strong
        data-auto="strong_text"
        >based</strong
      >
      model predicts an interaction between the type of
      <strong data-auto="strong_text">dependency</strong> and the task demand.
      Indeed, <strong data-auto="strong_text">adjacent</strong>
      <strong data-auto="strong_text">dependencies</strong>, but not
      <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependencies</strong>, should be learned
      when participants have to process
      <strong data-auto="strong_text">adjacent</strong> items, whereas the
      reverse is expected when participants have to process
      <strong data-auto="strong_text">nonadjacent</strong> items. Note that this
      pattern of results cannot be attributed to intrinsic properties of the
      material, as the material included the very same
      <strong data-auto="strong_text">dependencies</strong> for all of the
      participants.
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      <strong>Method</strong>
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      <em>Participants</em>
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      A total of 192 undergraduate students from the Université Paris Descartes,
      Paris, France, participated in the experiment in partial fulfillment of a
      course requirement. All participants were native French speakers.
      Participants were randomly assigned to one of the four
      <strong data-auto="strong_text">Dependency</strong> Type × Digit
      Combination <strong data-auto="strong_text">experimental</strong> groups
      (<em>n</em> = 48 for each group).
    </p>
    <p class="body-paragraph" data-auto="body_paragraph"><em>Materials</em></p>
    <p class="body-paragraph" data-auto="body_paragraph">
      The stimuli used in the study phase consisted of 20 problems composed of a
      target digit inside a rectangle on the left (which indicated the value of
      the target for this problem) and a sequence of 20 digits on the right (see
      <a href="#fig1">Figure 1</a>). In every sequence, (a) each of the 10
      digits (0, 1, 2, 3, 4, 5, 6, 7, 8, 9) occurred twice, (b) a pair of digits
      forming an <strong data-auto="strong_text">adjacent</strong>
      <strong data-auto="strong_text">dependency</strong> (e.g., <em>64</em>)
      occurred twice, and (c) a pair of digits forming a
      <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependency</strong> (e.g., <em>3X7</em>)
      occurred twice. The <strong data-auto="strong_text">adjacent</strong> and
      <strong data-auto="strong_text">nonadjacent</strong> pairs were identical
      for all of the problems presented to a given participant. For each
      problem, the target digit was selected randomly among the digits 0, 1, 2,
      5, 8, and 9, that is, those digits that were not elements of the pairs
      forming the <strong data-auto="strong_text">adjacent</strong> and
      <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependencies</strong>. When the task
      involved a subtraction between
      <strong data-auto="strong_text">adjacent</strong> digits, the target digit
      occurred once just before one of the two pairs of digits forming an
      <strong data-auto="strong_text">adjacent</strong>
      <strong data-auto="strong_text">dependency</strong> and once in another
      position. When the task involved a subtraction between
      <strong data-auto="strong_text">nonadjacent</strong> digits, the target
      digit occurred once between the two pairs of digits forming a
      <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependency</strong> and once in another
      position. <a href="#fig1">Figure 1a</a> shows three problems with the
      <strong data-auto="strong_text">adjacent</strong> pair <em>64</em>, and
      with the <strong data-auto="strong_text">nonadjacent</strong> pair
      <em>3X7</em>, when the task consisted in deciding whether the difference
      between the two digits following the target digit equals three (this is
      the case for the second problem in which the digits 8 and 5 follow the
      target 1). <a href="#fig1">Figure 1b</a> shows three problems with the
      <strong data-auto="strong_text">adjacent</strong> pair <em>64</em>, and
      with the <strong data-auto="strong_text">nonadjacent</strong> pair
      <em>3X7</em>, when the task consists in deciding whether the difference
      between the two digits surrounding the target digit equals three (this is
      the case for the second problem in which the digits 4 and 1 surround the
      target 2).
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      For each participant, a set of 20 problems was generated. For each
      problem, the value of the target digit, the position of the two pairs
      forming the <strong data-auto="strong_text">adjacent</strong>
      <strong data-auto="strong_text">dependency</strong>, the position of the
      two pairs forming the
      <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependency</strong>, and the position of
      the residual digits were determined randomly. Different randomizations
      were used for each participant. This led to the construction of 192
      different sets of 20 problems. For half of the problems, the
      <strong data-auto="strong_text">adjacent</strong>
      <strong data-auto="strong_text">dependencies</strong> were <em>64</em> and
      the <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependencies</strong> were <em>3X7</em>,
      and for the other half, the
      <strong data-auto="strong_text">adjacent</strong>
      <strong data-auto="strong_text">dependencies</strong> were <em>37</em> and
      the <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependencies</strong> were <em>6X4</em>.
      Each of the 192 sets of 20 problems was printed in Verdana font, size 12,
      on a single A4 sheet of paper (21.0 × 29.7 cm). The distances were 1.5 cm
      between the target digit inside the rectangle and the first digit of the
      sequence and 0.7 cm between two successive digits of the sequence. There
      was a distance of 1.0 cm between two successive problems.
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      A two-choice recognition test was used to assess participants'
      <strong data-auto="strong_text">learning</strong> of
      <strong data-auto="strong_text">adjacent</strong> and
      <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependencies</strong>. The stimuli used in
      this test consisted of 16 pairs of three-digit strings. Each pair
      contained a legal string and an illegal string. Eight pairs were used to
      assess the <strong data-auto="strong_text">learning</strong> of
      <strong data-auto="strong_text">adjacent</strong>
      <strong data-auto="strong_text">dependencies</strong>. For the
      participants who were exposed to <em>64</em> as the
      <strong data-auto="strong_text">adjacent</strong>
      <strong data-auto="strong_text">dependency</strong> and <em>3X7</em> as
      the <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependency</strong> during the study
      phase, the legal string was <em>64X</em> for four pairs and
      <em>X64</em> for four other pairs. The illegal string resulted from a
      spacing violation in four pairs <em>6X4</em> and from an order violation
      in four other pairs <em>46X</em> or <em>X46</em>. Eight other pairs were
      used to assess the <strong data-auto="strong_text">learning</strong> of
      <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependencies</strong>. The legal string
      was <em>3X7</em> for the eight pairs. The illegal string resulted from a
      spacing violation in four pairs <em>37X</em> or <em>X37</em> and from an
      order violation in four other pairs <em>7X3</em>. Pairs were elaborated on
      the basis of the same principle for the participants who were exposed to
      the opposite digit combination, that is, <em>37</em> as the
      <strong data-auto="strong_text">adjacent</strong>
      <strong data-auto="strong_text">dependency</strong> and <em>6X4</em> as
      the <strong data-auto="strong_text">nonadjacent</strong>
      <strong data-auto="strong_text">dependency</strong> during the study
      phase. The digit <em>X</em> was always selected randomly among the six
      digits used as target digits in the study phase (0, 1, 2, 5, 8, 9). The
      digit <em>X</em> was the same in the legal string and in the illegal
      string of a pair (e.g., 640 – 604; 387 – 378). For each participant, the
      16 pairs of three-digit strings were printed in Verdana font, size 12, on
      a single A4 sheet of paper. The distances were 0.7 cm between two
      successive digits of a sequence and 2.0 cm between the third digit of the
      left string and the first digit of the right string of a pair. There was a
      distance of 1.5 cm between two pairs.
    </p>
    <p class="body-paragraph" data-auto="body_paragraph"><em>Procedure</em></p>
    <p class="body-paragraph" data-auto="body_paragraph">
      The experiment was carried out with groups of 15 to 20 participants. In
      the study phase, the participants were provided with the sheet of paper
      containing the 20 problems. Participants were asked to look for the target
      digit within each sequence of 20 digits while going through the sequence
      from left to right. They were informed that the target digit could occur
      more than once within a sequence. At this point, half of the participants
      were asked to calculate whether the absolute value of the difference
      between the two digits following the target digit equaled 3 (i.e., was +3
      or −3), a task that entails the processing of two
      <strong data-auto="strong_text">adjacent</strong> digits. The other half
      of the participants were asked to calculate whether the absolute
      difference between the two digits surrounding the target digit equaled 3,
      a task that entails the processing of two
      <strong data-auto="strong_text">nonadjacent</strong> digits. The two
      groups had to circle the target and the two digits when this condition was
      fulfilled (this condition was fulfilled in at least two problems for each
      participant). The participants were not informed that they would have to
      perform a recognition test after the study phase. Completing the 20
      problems of the study phase usually took less than 10 min.
    </p>
    <p class="body-paragraph" data-auto="body_paragraph">
      After this task, the sheets of paper used in the study phase were
      withdrawn and replaced by those for the recognition test. All of the
      participants, regardless of the group to which they were assigned, were
      asked to select which of two strings of three digits was part of the digit
      sequences viewed in the study phase of the experiment. Participants were
      told that they had to make a choice for each of the 16 pairs, even if they
      sometimes felt that they were guessing.
    </p>
  </div>
  <br />
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <form>
      <label for="participantRecruitCheck">
        <b>
          6. How many participants were recruited in the experimental study?
        </b>
      </label>
      <div class="row container">
        <div style="width: 120px;">
          <input
            type="number"
            class="form-control"
            id="participantRecruitCheck"
            placeholder="0"
          />
        </div>
        <div class="col-sm no-gutters">
          <label for="participantRecruitCheck">Participants</label>
        </div>
      </div>

      <br />
      <p></p>
      <label for="predictionProbability">
        <b>
          7. If the same type of experiments are re-performed, what probability
          do you assign that the findings presented in the abstract will be
          observed? Make your best prediction from 0% (not likely at all) to 100
          % (with certainty the same finding).
        </b>
      </label>
      <input type="range" id="predictionProbability" />
      <!-- <input type="range" class="custom-range" /> -->
      <label for="predictionProbability"
        >Your Prediction: <span id="predictionProbabilityValue"></span>%
      </label>
      <script>
        var slider = document.getElementById("predictionProbability");
        var output = document.getElementById("predictionProbabilityValue");
        output.innerHTML = slider.value;

        slider.oninput = function () {
          output.innerHTML = this.value;
        };
      </script>

      <style>
        /*Chrome*/
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
          input[type="range"] {
            overflow: hidden !important;

            width: 100% !important;
            -webkit-appearance: none !important;
            background-color: #e9ecef !important;
          }

          input[type="range"]::-webkit-slider-runnable-track {
            height: 1em !important;
            -webkit-appearance: none !important;
            color: #007bff !important;
            margin-top: -1px !important;
          }

          input[type="range"]::-webkit-slider-thumb {
            width: 1em !important;
            -webkit-appearance: none !important;
            height: 1em !important;
            cursor: ew-resize !important;
            background: #007bff !important;
            box-shadow: -50vw 0 0 50vw #90bae8 !important;
          }
        }
        /** FF*/
        input[type="range"]::-moz-range-progress {
          background-color: #007bff !important;
        }
        input[type="range"]::-moz-range-track {
          background-color: #e9ecef !important;
        }
        /* IE*/
        input[type="range"]::-ms-fill-lower {
          background-color: #007bff !important;
        }
        input[type="range"]::-ms-fill-upper {
          background-color: #e9ecef !important;
        }
      </style>
      <br />
      <br />
      <label>
        <b>
          8. How do you feel that the claims/findings of the whole study may
          hold in other scenarios besides the scenario tested in the above
          experiment?
        </b>
      </label>
      <div class="container">
        <div class="form-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="otherScenarioEstimate"
              id="otherScenarioNo"
              value="otherScenarioNo"
            />
            <label class="form-check-label" for="otherScenarioNo">
              The claims/findings will probability NOT hold in other scenarios.
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="otherScenarioEstimate"
              id="otherScenarioMaybe"
              value="otherScenarioMaybe"
            />
            <label class="form-check-label" for="otherScenarioMaybe">
              The claims/findings may partially hold in some similar scenarios.
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="otherScenarioEstimate"
              id="otherScenarioTrue"
              value="otherScenarioTrue"
            />
            <label class="form-check-label" for="otherScenarioTrue">
              The claims/findings will hold to be true in many other similar
              scenarios.
            </label>
          </div>
        </div>
      </div>
    </form>
    <br />
  </div>

  {{> BidirectNavigation nextText="Confirm and Proceed" nextPage ="Paper6Page1"
  prevRemoved=true prevPage="Paper5Page2"}}
</template>
