<template name="Paper1Study1">
  {{>Title title="Paper 1"}} {{>ProgressBar length="11"}}
  <h4 class="text-center">
    Please read the following material and answer questions.
  </h4>
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <p>
      <b>
        Study title: Modeling Distributions of Immediate Memory Effects: No
        Strategies Needed?
      </b>
    </p>
  </div>
  <br />
  <h4 class="text-center">
    Instruction: The material below is the abstract (summary) of the whole
    study. Read the abstract and answer the following questions.
  </h4>
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <p>
      <b>Abstract: </b>Many models of immediate memory predict the presence or
      absence of various effects, but none have been tested to see whether they
      predict an appropriate distribution of effect sizes. The authors show that
      the feature model (J. S. Nairne, 1990) produces appropriate distributions
      of effect sizes for both the phonological confusion effect and the
      word-length effect. The model produces the appropriate number of
      reversals, when participants are more accurate with similar items or long
      items, and also correctly predicts that participants performing less well
      overall demonstrate smaller and less reliable phonological similarity and
      word-length effects and are more likely to show reversals. These patterns
      appear within the model without the need to assume a change in encoding or
      rehearsal strategy or the deployment of a different storage buffer. The
      implications of these results and the wider applicability of the
      distribution- modeling approach are discussed.
    </p>
  </div>
  <br />
  <br />
  <div class="w-100 px-3 pt-3 border border-dark">
    <form>
      <p>
        <b>
          1. How many phrases or terms in the abstract that are unfamiliar to
          you?
        </b>
      </p>
      <div class="container">
        <div class="form-row m-1">
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="unfamiliarterms"
              id="unfamilar1to2"
              value="unfamilar1to2"
            />
            <label class="form-check-label" for="unfamilar1to2">
              1~2
            </label>
          </div>
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="unfamiliarterms"
              id="unfamilar3to4"
              value="unfamilar3to4"
            />
            <label class="form-check-label" for="unfamilar3to4">
              3~4
            </label>
          </div>
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="unfamiliarterms"
              id="unfamilar4to5"
              value="unfamilar4to5"
            />
            <label class="form-check-label" for="unfamilar4to5">
              4~5
            </label>
          </div>
          <div class="form-check col">
            <input
              class="form-check-input"
              type="radio"
              name="unfamiliarterms"
              id="unfamilar6ormore"
              value="unfamilar6ormore"
            />
            <label class="form-check-label" for="unfamilar6ormore">
              6 or more than 6
            </label>
          </div>
        </div>
      </div>
      <br />
      <p>
        <b>
          2. Please write down one or two terms or phrases that you are
          unfamiliar with.
        </b>
      </p>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Type Here. Separate by comma “,”"
      />
      <br />
      <p>
        <b>
          3. How much do you understand the main claims/findings of the study
          after reading the abstract
        </b>
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="option1"
        />
        <label class="form-check-label" for="exampleRadios1">
          It is very clear to me what the study has found.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios2"
          value="option2"
        />
        <label class="form-check-label" for="exampleRadios2">
          I have some general ideas about what the study has found but still
          find some places unclear
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios3"
          value="option3"
        />
        <label class="form-check-label" for="exampleRadios3">
          I am not so sure about what the study has found, but I can make a
          rough guess
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios4"
          value="option4"
        />
        <label class="form-check-label" for="exampleRadios4">
          I have no idea what the study attempts to achieve
        </label>
      </div>
      <p>
        <b>
          4. Use your own langue to briefly describe the main claims/findings of
          the paper based on your understanding of the abstract. Make your best
          guess if necessary.
        </b>
      </p>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Type Here."
      />
      <br />
      <p>
        <b>
          5. Use your own langue to briefly describe the main claims/findings of
          the paper based on your understanding of the abstract. Make your best
          guess if necessary.
        </b>
      </p>
      <div class="container">
        <div class="form-row m-1">
          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="contradictions"
              id="contradictcompletelycontradict"
              value="contradictcompletelycontradict"
            />
            <label
              class="form-check-label"
              for="contradictcompletelycontradict"
            >
              Completely contradict to
            </label>
          </div>
          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="contradictions"
              id="contradictsomewhatcontradict"
              value="contradictsomewhatcontradict"
            />
            <label class="form-check-label" for="contradictsomewhatcontradict">
              Somewhat contradict to
            </label>
          </div>
          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="contradictions"
              id="contradicthardtosay"
              value="contradicthardtosay"
            />
            <label class="form-check-label" for="contradicthardtosay">
              Hard to say/no relevant experience
            </label>
          </div>
          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="contradictions"
              id="contradictsomewhatsupport"
              value="contradictsomewhatsupport"
            />
            <label class="form-check-label" for="contradictsomewhatsupport">
              Somewhat support
            </label>
          </div>
          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="contradictions"
              id="contradictcompletelysupport"
              value="contradictcompletelysupport"
            />
            <label class="form-check-label" for="contradictcompletelysupport">
              Completely Support
            </label>
          </div>
        </div>
      </div>
    </form>
    <br />
  </div>

  {{> BidirectNavigation nextText="Confirm and Proceed" nextPage ="Paper1Study1"
  prevPage="Paper1Start"}}
</template>
