<template name="PaperAssignmentError">
    <p>
        Oops! It seems that you encountered one of the following cases:
        <ul>
        	<li>You have reached our maximum assignment limit (3 HITs) for the latest 12 hours. 
        	</li>
        	<li> You have reached our maximum assignment limit (15 HITs) for the whole experiment.
        	</li>
        	<li>
        	All the papers in our current batch have been assigned out. 
        	</li>
        </ul>
        <b>You can participate in future HITs of this experiment</b> if you have not reached 15 HITs limit for the whole experiment. If you have any problems about the HIT assignment, please contact <a href="mailto:juntaowang@g.harvard.edu">juntaowang@g.harvard.edu</a>
        <br />
        <br />
        <b>Please return this HIT. Thanks for your participation and help! </b>
    </p>
</template>