<template name="SurveyInstruction">
    {{>Title title="Instruction"}}
    <h4>
        This task has two phases.
    </h4>
    <br />
    <ul>
        <li>
            <p>
                <strong>In the first phase</strong>, you will read the materials of two papers. For each paper, you will be asked about <span style="font-weight: bold; color: green;">10 short questions</span> about your opinions of the paper. Most of the questions are multiple choice questions or asking you to select some sentences in the materials.
            </p>
        </li>
        <li>
            <p>
                <strong>In the second phrase</strong>, you will be presented with the materials of the two papers at the same time. Then, you will be asked about <span style="font-weight: bold; color: green;">5 short comparison questions</span>. Then, you complete the whole task.
            </p>
        </li>
    </ul>
    <h4>
        Important note:
    </h4>
    <ul>
        <li>
            <p> We understand that scientific paper may be hard and tedious to read. Please try you best to understand the materials and answer the questions sincerely. Your sincerity will be crucial to our experiments and to the development of modern social science. Thanks very much!
            </p>
        </li>
    </ul>
    <div style="text-align: center;">
        <input type="checkbox" id="scales" name="sincerity"/>
        <label for="sincerity">I will try my best to answer the questions.</label>
    </div>
    {{> BidirectNavigation nextText="Confirm and Proceed" nextPage="Paper1Page1"
    prevRemoved=true}}
</template>