<template name="SurveyInstruction">
  {{>Title title="Survey Instruction"}}
  <h4>
    This task has two phases.
  </h4>
  <br />
  <p>
    In the first phase, we will present you summary materials of 6 social
    science articles, each article at a time. For each article, you are going to
    rate your feeling about understandability of the article and the
    plausibility of the results claimed in the materials. You will do some
    simple summary work for us to verify your understandability of the article.
  </p>
  <p>
    In the second phrase, we will present you the same materials, but a pair of
    articles at a time. For each of three pairs in total, you are also going to
    answer some simple questions. This time, you will be able to make comparison
    between the two articles before answering your questions.
  </p>
  {{> BidirectNavigation nextText="Confirm and Proceed" nextPage="Paper1Page1"
  prevRemoved=true}}
</template>