<template name="SurveyInstruction">
    {{>Title title="Instruction"}}
    <h4>
        This task has two phases:
    </h4>
    <br />
    <ul>
        <li>
            <p>
                <strong>In the first phase</strong>, you will read selected materials from two published papers. For each paper, you will be asked to answer about <span style="font-weight: bold; color: green;">10 short questions</span> about your opinions of the paper. Most of the questions are multiple choice questions or sentence selection questions.
            </p>
        </li>
        <li>
            <p>
                <strong>In the second phase</strong>, you will be presented with the same selected materials from the two papers, but at the same time. Then, you will be asked to answer <span style="font-weight: bold; color: green;">4 short comparison questions</span>.
            </p>
        </li>
    </ul>
    <h4>
        Important note:
    </h4>
    <ul>
        <li>
            <p> Your good-faith effort to understand the paper materials and answer the questions is crucial to our experiment and to the development of modern social sciences. We appreciate your contributions!
            </p>
        </li>
        <li>
            <p>Please do not use the "Go back/forward" and "Refresh" buttons of your browser. Otherwise, your data will be lost.
            </p>
        </li>
    </ul>
    <form>
        <div style="text-align: center;">
            <input type="checkbox" id="sincerity-checkbox" name="sincerity" required />
            <label for="sincerity">
                <br />
                I will put forward my good-faith effort in completing the task.</label>
        </div>
        {{> BidirectNavigation nextText="Confirm and Proceed" nextPage="Paper1Page1"
        prevRemoved=true}}
    </form>
</template>