<template name="TutorialHeader">
    <div style="margin-bottom: 0px;">
        <h2 style="display: inline;"><strong> Toturial </strong></h2>
        <h5 style="display: inline;"><strong></strong> &nbsp;THREE STEPS to get you familiarize with the procedure and rules of the forecasting games! </h5>
        <!--h5 style="text-align: center"> <strong>This tutoral aims to help you hit more bonus by getting you familar with the  procedure and forecasting game mechanics!</strong> </h5-->
        <hr style="border-width: 2px; margin: 1px 0px 15px;">
        <table class="bordertable" style="text-align: center;">
            <tr>
                <td id="step1" width="250">Step 1. Procedure & Rules</td>
                <td id="step2" width="250">Step 2. Reward Mechanism</td>
                <td id="step3" width="250">Step 3. Calculator</td>
                <td id="step4" width="150"> Finish Tutorial!</td>
            </tr>
        </table>
    </div>
</template>