<template name="WelcomeForAll">
  <div id="welcome-instruction" class="instruction">
    <h1 style="font-size: 30px; margin: 10px 0px 10px;">Introduction</h1>
    <hr style="border-width: 2px; margin: 1px 0px 10px;" />
    <!--h4> <strong>Introduction</strong></h4-->
    <br />
    <h5 style="font-size: 16px;">
      <b>Welcome to our science experiment task!</b>
    </h5>
    <br />
    <p style="font-size: 16px;">
      <b>
        We aim to study the capacity of public in verifying the science results
        found by social science studies.
      </b>
    </p>
    <p style="font-size: 16px;">
      <b>
        In this task, you will read the abstract and summaries of social science
        articles and answer simple questions about the understandability,
        plausibility of the studies.
      </b>
    </p>
    <p style="font-size: 16px;">
      <b>
        Join in us to help we understand how public can contribute to verify
        social study findings.
      </b>
    </p>
    <!--h5>During the games, you are allowed to use any resource / method, such as searching the Internet and asking others, when making your decisions. </h5-->
    <!-- <br> -->
    <!-- <h4 style="color: ;"> <strong>Payment</strong></h4> -->
    <!-- <h5 style="font-size: 16px;"> -->
    <!-- You'll receive a base payment of <strong style="color: red;">${{basePayment}}</strong> immediately after you complete the entire HIT. Besides the base payment, in each forecast game, you can win a bonus payment. Your total bonus payment will be paid out within a week after the outcomes of all events are realized. Your total bonus payment is around <strong style="color: red;">${{apprBonus}}</strong>. The exact amount depends on your predictions and decisions in the games.</h5> -->
    <!-- <br> -->
    <!-- <h2 style="margin: 0 0 0px; text-align: center; color: orange;"><strong> Have fun with this HIT!</strong></h2> -->
  </div>
  <br />
  <div id="buttonArea" style="text-align: center;">
    <a
      href="Consent"
      class="btn"
      id="nextBtn"
      style="font-weight: bold; font-size: 18px;"
    >
      Accept the mission!</a
    >
  </div>
</template>

<!--template name="WelcomeBrier">
    <div id="welcome-instruction" class="instruction">
        <h1>Welcome!</h1>
        <h4> <strong>HIT Introduction</strong></h4>
        <h5>This HIT is a scientific experiment aiming to understand how well people can make predictions. This HIT contains three independent rounds. In each round, you will be asked to predict how likely each of 5 real-world events will happen. For each event, you need to specify a number between 0 and 1 representing how likely you think the event will happen. </h5>
        <h4 style="color: ;"> <strong>Payment</strong></h4>
        <h5>You'll receive a base payment of <span style="color: red;">${{basePayment}}</span> immediately after you complete the entirely HIT. Moreover, for each event, we'll score your prediction based on the furture event outcome and convert your score into a <span style="color: red;"> bonus payment (approximately ${{apprBonus}})</span>. Your total bonus of this HIT is the sum of the bonuses you get on all events. The total bonus will be paid out in a week, after the outcomes of all events are realized. The details of the scoring method will be explained after you agree to participate in the experiment in the next page.
        </h5>

        <h4 style="margin: 0 0 0px;"><strong> Have fun with this HIT!</strong></h4>
    </div>
    <div id="buttonArea" style="text-align: center">
        <a href="ConsentBrier" class="btn" id="nextBtn"> <strong>Next &gt;&gt;</strong></a>
    </div>
</template-->
