<template name="WelcomeForAll">
  <h1>Introduction</h1>
  <br />
  <h4>
    Welcome to our science experiment task!
  </h4>
  <br />
  <p>
    We aim to study the capacity of public in verifying the science results
    found by social science studies.
  </p>
  <br />
  <p>
    In this task, you will read the abstract and summaries of social science
    articles and answer simple questions about the understandability,
    plausibility of the studies.
  </p>
  <p style="font-size: 16px;">
    Join in us to help we understand how public can contribute to verify social
    study findings.
  </p>
  {{> BidirectNavigation nextText="Accept the mission!" nextPage="Consent"
  prevRemoved=true}}
</template>
