<template name="WelcomeForAll">
    {{> Title title="Introduction"}}
    <h4>
        Welcome to our science experiment task!
    </h4>
    <br />
    <p>
    The social sciences are facing a replication challenge -- in recent replication efforts by independent research teams, a significant percentage of selected published social science studies failed to produce results in the same direction as in the original study.
    </p>
    <br />
    <p> We aim to evaluate the wisdom of crowds in predicting the replicability of social science studies. In this task, you will read selected materials from two published social science papers and answer some questions about the studies' accessibility and plausibility. With your help, we hope to improve the ability to forecast replications and identify effective tools to obtain confidence on social science claims.
    <br />    
    <strong>Join us to help shape modern social sciences!</strong>
    </p>
    <br />
    <p>
        <em> This task is estimated to take <strong style="color: coral;">30 mins</strong> to finish, and you will be rewarded <strong style="color: coral;">&#36;6.00</strong> if you complete it sincerely.
        </em>
    </p>

    <p>(Our HITs will keep coming in the following days. You are welcome to complete up to 3 HITs every 12 hours and up to 15 HITs throughout the whole experiment.) 
    </p>
    {{> BidirectNavigation nextText="Accept the mission!" nextPage="Consent"
    prevRemoved=true}}
</template>