/* CSS declarations go here */

html, body {min-height: 100vh; height: auto;}


/* START FOR RANGE SLIDER */
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden !important;

    width: 100% !important;
    -webkit-appearance: none !important;
    background-color: #e9ecef !important;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 1em !important;
    -webkit-appearance: none !important;
    color: #007bff !important;
    margin-top: -1px !important;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 1em !important;
    -webkit-appearance: none !important;
    height: 1em !important;
    cursor: ew-resize !important;
    background: #007bff !important;
    box-shadow: -50vw 0 0 50vw #90bae8 !important;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #007bff !important;
}
input[type="range"]::-moz-range-track {
  background-color: #e9ecef !important;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #007bff !important;
}
input[type="range"]::-ms-fill-upper {
  background-color: #e9ecef !important;
}
/* END FOR RANGE SLIDER */



.sentence{
  cursor: pointer;
}

#hoverSentence{
  background-color: #b7d6f7;
}

.highlightedSentence{
  background-color: yellow;
}